<template name="classroom">
    {{> updateAlertTemplate}}
    <div id="classroom-container" class="container">
        <div id="classroom-row" class="row">
            <div class="page-header h2">Classrooms</div>
            <div class="col-sm-4 col-md-4 col-lg-4">
                <!-- Add new classroom --> 
                <div>
                    <a href="#" id="add-classroom"><i class="fa fa-plus-circle"></i> Add Classroom</a>
                </div>

                <!-- Classroom list -->
                <div class="list-group">
                    {{#each classrooms}}
                        <span id="classroom-item">
                            <!-- Select & Remove classroom -->
                            <a href="#" id="select-classroom" class="list-group-item {{isActiveClassroom}}">
                                {{name}}
                                <span class="pull-right">
                                    <a href="#" id="view-classroom-details"><i class="fa fa-eye menu-icon {{isActiveClassroom}}"></i></a>&nbsp;&nbsp;
                                    <a href="#" id="remove-classroom"><i class="fa fa-minus-circle menu-icon {{isActiveClassroom}}"></i></a>
                                </span>
                            </a>
                        </span>
                    {{/each}}
                </div>

                <!--<button type="button" id="clear-data">Clear Data</button>-->
            </div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <!-- Selected classroom student list -->
                {{#if classroomIsSelected}}
                    {{> student}}
                {{/if}}
            </div>
        </div>
    </div>
    {{> uploadDataModal}}
</template>

<template name="student">
    {{> updateAlertTemplate}}
    <div class="panel panel-default">
        <div class="panel-heading"><span class="h4">Classroom</span></div>
        <div class="panel-body">
            <form class="form-inline" id="save-classroom-form">
                <!-- Update Classroom name -->
                <div class="form-group">
                    <input type="text" value="{{selectedClassroomName}}" placeholder="Classroom Name" name="classroomName" id="input-classroom-name" class="form-control" required="true"/>
                    <select class="form-control" id="select-classroom-grade" name="classroomGrade" required="true" {{isClassroomGradeEnabled}}>
                        <option value="">Select Grade</option>
                        <option value="K" {{isClassroomGradeSelected 'K'}}>K</option>
                        <option value="1" {{isClassroomGradeSelected '1'}}>1</option>
                        <option value="2" {{isClassroomGradeSelected '2'}}>2</option>
                    </select>
                </div>

                <button type="submit" id="save-classroom" class="btn btn-primary"><i class="fa fa-save"></i> Save Classroom</button>

                {{#if isClassroomEditable}}
                <!-- Share or upload classroom data -->
                <span class="pull-right">
                    <button type="button" id="upload-classroom-data" class="btn btn-default"><i class="fa fa-upload"></i> Upload Classroom Data</button>
                </span>
                {{/if}}
            </form>
            <br/><br/>
            {{#if isClassroomEditable}}
            <div>
                <form class="form-inline" id="add-student-form">
                    <!-- Add student -->
                    <div class="form-group">
                        <input type="text" class="form-control" id="add-first-name" name="txtAddFirstName" placeholder="First Name" required="true">
                        <input type="text" class="form-control" id="add-last-name" name="txtAddLastName" placeholder="Last Name">
                    </div>
                    <button type="submit" id="add-student" class="btn btn-default"><i class="fa fa-plus"></i> Add Student</button>
                </form>
            </div>

            <div>
                {{#each students}}
                    {{#if editingStudent}}
                    <form class="form-inline">
                        <!-- Edit student -->
                        <div class="form-group">
                            <input type="text" class="form-control" id="edit-first-name" name="txtEditFirstName" value="{{firstname}}" placeholder="First Name">
                            <input type="text" class="form-control" id="edit-last-name" name="txtEditLastName" value="{{lastname}}" placeholder="Last Name">
                        </div>
                        <button type="button" id="update-student" class="btn btn-default"><i class="fa fa-save"></i> Update Student</button>
                        <button type="button" id="cancel-update" class="btn btn-default">Cancel Update</button>
                    </form>
                    {{else}}
                        <!-- View student and links to modify or delete student -->
                        <span class="list-group-item">
                            <h4 class="list-group-item-heading">
                                {{firstname}} {{lastname}}<span class="pull-right">
                                <a href="#" id="view-student-details"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;
                                <a href="#" id="edit-classroom-student"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;
                                <a href="#" id="remove-classroom-student"><i class="fa fa-minus-circle"></i></a>
                                </span>
                            </h4>
                        </span>
                    {{/if}}
                {{/each}}
            </div>
            {{/if}}
        </div>
    </div>
</template>

<template name="uploadDataModal">
    <!-- Modal to allow the user to select a csv file of student data to add to the selected classroom -->
    <div class="modal fade" id="uploadDataModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                    <div class="modal-body">
                        <span class="h5">Select a csv file with field headers: firstname, lastname</span>
                        <br/><br/>
                        <input type="file" id="files" name="files[]" multiple accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
                        <br/><br/>
                        <span class="h5">Download editable sample csv: <a href="/classroom_sample.csv" download>classroom_sample.csv</a></span>
                    </div>
                <div class="modal-footer">
                    <button type="button" id="exit-upload-modal" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</template>