#classroom-container {
  width: 100%;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  -webkit-overflow-scrolling: touch;
}

#classroom-row {
  width: 100%;
  height: 100%;
  overflow: auto;
}