<template name="journal">
    {{> updateAlertTemplate}}
    <div id="journal-container" class="container">
        <div class="row">
            <div class="page-header h2">Retrospective Journal</div>

            {{#if isClassGroupSelected}}
            <div class="col-md-4">
                <!-- Journal List -->
                <div class="list-group">
                    {{#each tasks}}
                        {{#with joinWithJournal}}
                        <span id="journal-entry-item">
                            <a href="#" id="select-journal-entry" class="list-group-item {{isActiveJournalEntry}}">{{name}} <span class="pull-right">{{#if journalExists}}{{getFormattedDate timestamp}} &nbsp;&nbsp;&nbsp;<a><i class="fa fa-pencil menu-icon {{isActiveJournalEntry}}"></i></a>{{else}}<a><i class="fa fa-plus-circle menu-icon {{isActiveJournalEntry}}"></i></a>{{/if}}</span></a>
                        </span>
                        {{/with}}
                    {{/each}}
                </div>
            </div>
            <div class="col-md-8">
                <!-- Journal Form -->
                {{#if showJournalForm}}
                    {{> journalForm selectedJournal}}
                {{/if}}
            </div>
            {{else}}
            <div class="engraved-text top-40-pc">
                Select a classroom or group.
            </div>
            {{/if}}
        </div>
    </div>
</template>
