<template name="journalForm">
    <form class="panel panel-default">
        <div class="panel-heading"><span class="h4">{{name}} Retrospective Journal for {{selectedGroupName}}</span><span class="pull-right">{{getFormattedDate timestamp}}</span></div>
        <div class="panel-body">
            <!-- Question 1 -->
            <div>
                <label for="text-question_1">What do I know about my class because of this performance task (including strengths/needs of the class relative to specific CCSS, as well as general information learned about my students)?</label>
                <textarea id="text-question_1" name="textareaJournalQuestion1" class="form-control editable" rows="3">{{class_info}}</textarea>
            </div>
            <br/>

            <!-- Question 2 -->
            <div>
                <label for="text-question_2">What do I know about the strengths and needs of individuals or groups of students relative to specific CCSS?</label>
                <textarea id="text-question_2" name="textareaJournalQuestion2" class="form-control editable" rows="3">{{strengths_needs_info}}</textarea>
            </div>
            <br/>

            <!-- Question 3 -->
            <div>
                <label for="text-question_3">After reflecting on the outcomes of this performance task, these are the curricular/instructional actions I want to take:</label>
                <textarea id="text-question_3" name="textareaJournalQuestion3" class="form-control editable" rows="3">{{actions_info}}</textarea>
            </div>
            <br/>

            <!-- Comments -->
            <div>
                <label for="text-comments">Comments:</label>
                <textarea id="text-comments" name="textareaJournalComments" class="form-control editable" rows="3">{{comments}}</textarea>
            </div> 

        </div>  
        <div class="panel-footer">
            <button type="button" id="clear-journal" class="btn">Clear</button>

            <span class="pull-right">
                <button type="submit" id="save-journal" class="btn btn-primary">Save</button>
                <button type="button" id="save-as-pdf" class="btn">Save as PDF</button>
            </span>
        </div>
    </form>
</template>