<template name="myProfile">
    {{> userDetailsResetPasswordModal}}
    {{> updateAlertTemplate}}
    <div id="user-details-container" class="container">
        <div id="classroom-row" class="row">
            <div class="page-header h2">My Profile</div>
            <div class="col-sm-12 col-md-8 col-lg-6">
                <!-- Selected classroom student list -->
                {{> userInfo}}
            </div>
        </div>
    </div>
</template>

<template name="userInfo">
    <div class="panel panel-default">
        {{#with userData}}
            <div class="panel-heading">
                <span class="h4">{{profile.firstName}} {{profile.lastName}}</span>
            </div>
            <div class="panel-body">
                <div>
                    <!-- View/edit FIRST NAME -->
                    {{#if editingFirstName}}
                        <form class="form-inline">
                            <!-- Edit student -->
                            <div class="form-group edit-user-line-form">
                                <input type="text" class="form-control edit-user-line-form-group" id="edit-first-name" name="txtEditFirstName" value="{{profile.firstName}}" placeholder="First Name">
                            </div>
                            <span class="pull-right">
                                <button type="button" id="update-user-details-firstname" class="btn btn-default"><i class="fa fa-save"></i> Update First Name</button>
                                <button type="button" id="cancel-user-details-firstname" class="btn btn-default">Cancel Update</button>
                            </span>
                        </form>
                    {{else}}
                        <span class="list-group-item">
                            <h4 class="list-group-item-heading">
                                First Name:
                                <span class="pull-right">
                                    {{profile.firstName}}&nbsp;&nbsp;
                                    <a href="#" id="edit-user-details-firstname"><i class="fa fa-edit"></i></a>
                                </span>
                            </h4>
                        </span>
                    {{/if}}

                    <!-- View/edit LAST NAME -->
                    {{#if editingLastName}}
                        <form class="form-inline">
                            <!-- Edit student -->
                            <div class="form-group edit-user-line-form">
                                <input type="text" class="form-control edit-user-line-form-group" id="edit-last-name" name="txtEditLastName" value="{{profile.lastName}}" placeholder="Last Name">
                            </div>
                                <span class="pull-right">
                                    <button type="button" id="update-user-details-lastname" class="btn btn-default"><i class="fa fa-save"></i> Update Last Name</button>
                                    <button type="button" id="cancel-user-details-lastname" class="btn btn-default">Cancel Update</button>
                                </span>
                        </form>
                    {{else}}
                        <span class="list-group-item">
                            <h4 class="list-group-item-heading">
                                Last Name:
                                <span class="pull-right">
                                    {{profile.lastName}}&nbsp;&nbsp;
                                    <a href="#" id="edit-user-details-lastname"><i class="fa fa-edit"></i></a>
                                </span>
                            </h4>
                        </span>
                    {{/if}}

                    <!-- View/edit EMAIL ADDRESS -->
                    {{#if editingEmail}}
                        <form class="form-inline">
                            <!-- Edit student -->
                            <div class="form-group edit-user-line-form">
                                <input type="text" class="form-control edit-user-line-form-group" id="edit-username" name="txtEditUserEmail" value="{{userEmail}}" placeholder="Username">
                            </div>
                                    <span class="pull-right">
                                        <button type="button" id="update-user-details-email" class="btn btn-default"><i class="fa fa-save"></i> Update Email</button>
                                        <button type="button" id="cancel-user-details-email" class="btn btn-default">Cancel Update</button>
                                    </span>
                        </form>
                    {{else}}
                        <span class="list-group-item">
                            <h4 class="list-group-item-heading">
                                Email:
                                <span class="pull-right">
                                    {{userEmail}}&nbsp;&nbsp;
                                    <a href="#" id="edit-user-details-email"><i class="fa fa-edit"></i></a>
                                </span>
                            </h4>
                        </span>
                    {{/if}}

                    <!-- View USERNAME -->
                    <span class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Username:
                            <span class="pull-right">
                                {{username}}
                            </span>
                        </h4>
                    </span>

                    <!-- User's CLASSROOMS -->
                    <span class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Classrooms:
                            {{#each profile.classrooms}}
                                <span class="pull-right">
                                    {{name}}
                                </span>
                                <br/>
                            {{/each}}
                        </h4>
                    </span>

                    <!-- User's SHARED CLASSROOM GROUPS -->
                    <span class="list-group-item">
                        <h4 class="list-group-item-heading">
                            Number of Shared Classroom Groups:
                            <span class="pull-right">
                                {{numberOfSharedClassroomGroups}}
                            </span>
                            <br/>
                        </h4>
                    </span>

                    <!-- CHANGE PASSWORD button -->
                    <a href="#" class="list-group-item" data-toggle="modal" data-target="#userDetailsPasswordResetModal">
                        <h4 class="list-group-item-heading pull">
                            Change Password
                        </h4>
                    </a>

                    <a type="button" class="btn btn-primary pull-right margin-top" href="{{pathFor 'dashboard'}}">
                        Done
                    </a>
                </div>
            </div>
        {{/with}}
    </div>
</template>

<template name="userDetailsResetPasswordModal">
    <div class="modal fade" id="userDetailsPasswordResetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="change-password-form" action = "action">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Reset Password</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" id="old-password-form-group">
                            <label class="control-label" for="user-details-update-current-pass">Old Password:</label>
                            <input id="user-details-update-current-pass" type="password" name="changePassCurrentPass" required="true" class="form-control"/>
                        </div>
                        <div class="form-group" id="new-password-form-group">
                            <label class="control-label" for="user-details-update-new-pass">New Password:</label>
                            <input id="user-details-update-new-pass" type="password"  name="changePassNewPass" required="true" class="form-control"/>
                        </div>
                        <div class="form-group" id="confirm-new-password-form-group">
                            <label class="control-label" for="user-details-update-confirm-new-pass">Confirm New Password:</label>
                            <input id="user-details-update-confirm-new-pass" type="password"  name="changePassConfirmNewPass" required="true" class="form-control"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="close-password-reset-modal" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" id="user-details-reset-password">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>