#user-details-container {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 10px;
}

#classroom-row {
  width: 100%;
  height: 100%;
  overflow: auto;
}

#userDetailsPasswordResetModal {
  top:30%;
  outline: none;
}

.form-inline {
  margin-top: 6px;
  margin-bottom: 5px;
}

.edit-user-line-form {
  width: 40% !important;
}

.edit-user-line-form-group {
  width: 100% !important;
}
