#peformance-task-container {
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-overflow-scrolling: touch;
}

#assessment-name-heading {
  color: @parcc-orange-color;
  font-weight: bold;
}

.pt-panel-heading {
  text-decoration: underline;
}

#assessment-day-selection {
  padding-right: 10px;
}

#assessment-group-accordion {
  padding-left: 10px;
  padding-right: 10px;
}
