<template name="performancetask">
    {{> updateAlertTemplate}}
    <div id="peformance-task-container" class="container">
        <div class="row">
            <div class="page-header h2">Performance Tasks</div>
            <div class="col-md-4">
                <!-- Filter performance tasks -->
                {{> performanceTaskFilter}}

                <!-- Performance Task List -->
                {{> performanceTaskList}}
            </div>
            <div class="col-md-8">
                <!-- Performance Task Form -->
                {{#if showPerformanceTaskForm}}
                    {{> performanceTaskForm selectedPerformanceTask}}
                {{/if}}
            </div>
        </div>
    </div>
</template>

<!-- Filter performance tasks -->
<template name="performanceTaskFilter">
    <form id="performance-task-form" class="panel panel-default">
        <div class="panel-body">
            <div>
                <label for="select-filter-grade">Grade</label> 
                <select class="form-control" name="filterGrade" id="select-filter-grade" required="true"> 
                    <option value="K" selected="{{isGradeFilterSelected "K"}}">K</option>
                    <option value="1" selected="{{isGradeFilterSelected "1"}}">1</option> 
                    <option value="2" selected="{{isGradeFilterSelected "2"}}">2</option> 
                </select>
            </div> 
            <div>
                <label for="select-filter-subject">Subject</label> 
                <div id="select-filter-subject">
                    <input name="filterSubject" type="radio"  value="ela" checked="{{isSubjectFilterChecked "ela"}}"/> ELA
                    <input name="filterSubject" type="radio" value="math" checked="{{isSubjectFilterChecked "math"}}"/> Math
                </div>
            </div> 
            <div>
                <button type="button" id="filter-performance-tasks" class="save-class btn btn-primary">Filter</button>
            </div>
        </div>  
    </form>
</template>

<!-- Performance Task List -->
<template name="performanceTaskList">
    <!-- Add new performance task --> 
    <div>
        <a href="javascript:void(0)" id="add-performance-task"><i class="fa fa-plus-circle"></i> Add Performance Task</a>
    </div>

    <div class="list-group">
        {{#each performanceTasks}}
            <span id="performance-task-item">
                <a href="javascript:void(0)" id="select-performance-task" class="list-group-item {{isActivePerformanceTask}}">{{name}}<span class="pull-right"><a href="javascript:void(0)" id="delete-performance-task"><i class="fa fa-minus-circle menu-icon {{isActivePerformanceTask}}"></i></a></span></a>
            </span>
        {{/each}}
    </div>
</template>


<!-- Performance Task Form -->
<template name="performanceTaskForm">
    <form id="pt-form" class="panel panel-default">
        <div class="panel-heading">{{performanceTaskMode}} Performance Task</div>
        <div class="panel-body">
            <!-- Grade -->
            <div>
                <label for="select-grade">Grade</label> 
                <select class="form-control" name="grade" id="select-grade" required="true"> 
                    <option value="K" selected="{{isGradeSelected "K"}}">K</option>
                    <option value="1" selected="{{isGradeSelected "1"}}">1</option> 
                    <option value="2" selected="{{isGradeSelected "2"}}">2</option> 
                </select>
            </div> 

            <!-- Subject -->
            <div>
                <label for="radio-subject">Subject</label> 
                <div class="form-control" id="radio-subject">
                    <input id="radio-subject-ela" name="subject" type="radio"  value="ela" required="true" checked="{{isSubjectChecked "ela"}}"/> ELA
                    <input id="radio-subject-math" name="subject" type="radio" value="math" required="true" checked="{{isSubjectChecked "math"}}"/> Math
                </div>
            </div> 

            <!-- Name -->
            <div>
                <label for="input-name">Name</label>
                <div>
                    <input type="text" value="{{name}}" name="performanceTaskName" id="input-name" class="form-control" required="true"/>
                </div>
            </div>


            {{#if isSubjectEla}}
            <!-- Type -->
            <div>
                <label for="radio-text-type">Text Type</label> 
                <div class="form-control" id="radio-text-type">
                    <input id="radio-text-type-informational" name="textType" type="radio"  value="Informational Text" checked="{{isTextTypeChecked "Informational Text"}}"/> Informational Text
                    <input id="radio-text-type-literary" name="textType" type="radio" value="Literary Text" checked="{{isTextTypeChecked "Literary Text"}}"/> Literary Text
                </div>
            </div> 
            {{/if}} 

            <!-- Book Summary/At-A-Glance -->
            <div>
                <label for="text-summary-glance">{{#if isSubjectEla}}Text Summary{{else}}At-A-Glance{{/if}}</label> 
                <div>
                    <textarea id="text-summary-glance" name="textareaSummaryGlance" class="form-control" rows="5">{{summaryGlance}}</textarea>
                </div>
            </div> 

            <!-- Visual Image -->
            <div>
                <label for="input-visual">Visual Image</label> 
                <div class="panel panel-default">
                    <input type="file" name="visual" id="input-visual"/>
                    <img class="thumbnail" src="{{visual}}"/>
                </div>
            </div>

            {{#if isSubjectEla}}
            <!-- Book(s) -->
            <div>
                <label>Books <a href="javascript:void(0)" id="add-book"><i class="fa fa-plus-circle">Add Book</i></a></label> 
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>URL</th>
                        </tr>
                        {{#each books}}
                        <tr>
                            <td><a href="javascript:void(0)" id="delete-book"><i class="fa fa-minus-circle"></i></a></td>
                            <td><input type="text" value="{{name}}" name="bookName" class="form-control" required="true"/></td>
                            <td><input type="text" value="{{url}}" name="bookUrl" class="form-control" required="true"/></td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
            </div>  
            {{/if}} 

            <!-- Performance Task PDF URL -->
            <div>
                <label for="input-performanceTaskPdfDoc">Performance Task PDF URL</label> 
                <div>
                    <input type="text" value="{{performanceTaskPdfDoc}}" name="performanceTaskPdfDoc" id="input-performanceTaskPdfDoc" class="form-control"/>
                </div>
            </div>

            <!-- Performance Task Word Document URL -->
            <div>
                <label for="input-performanceTaskWordDoc">Performance Task Word Document URL</label> 
                <div>
                    <input type="text" value="{{performanceTaskWordDoc}}" name="performanceTaskWordDoc" id="input-performanceTaskWordDoc" class="form-control"/>
                </div>
            </div>

            {{#unless isSubjectEla}}
            <!-- Performance Task Excel Document URL -->
            <div>
                <label for="input-performanceTaskExcelDoc">Performance Task Word Excel URL</label> 
                <div>
                    <input type="text" value="{{performanceTaskExcelDoc}}" name="performanceTaskExcelDoc" id="input-performanceTaskExcelDoc" class="form-control"/>
                </div>
            </div>
            {{/unless}}

            <!-- Student and Teacher Resources URL -->
            <div>
                <label for="input-student-resource">Student &amp; Teacher Resource URL</label> 
                <div>
                    <input type="text" value="{{studentResource}}" name="studentResource" id="input-student-resource" class="form-control"/>
                </div>
            </div>

            {{#if isSubjectEla}}
            <!-- Glossary URL -->
            <div>
                <label for="input-glossary">Glossary URL</label> 
                <div>
                    <input type="text" value="{{glossary}}" name="glossary" id="input-glossary" class="form-control"/>
                </div>
            </div>
            {{/if}}

            <!-- CCSS -->
            <div>
                <label for="select-standard">Common Core Standards</label> 
                <select name="standard" id="select-standard"> 
                    {{#each getCommonCoreStandards}}
                        <option value="{{_id}}">{{_id}}</option>
                    {{/each}}
                </select>
                <button type="button" id="add-standard" class="btn btn-primary btn-sm">Add</button>
                <div class="panel panel-default">
                    <ul class="list-group">
                        {{#each commonCoreStateStandards}}
                            <li class="list-group-item"><a href="javascript:void(0)" id="delete-standard"><i class="fa fa-minus-circle"></i></a> {{_id}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <!-- Instructions -->
            {{#with instructions}}
            <label for="text-overview">Instructions</label>

            <div class="panel-group" id="instruction-section">
                {{#if isSubjectEla}}
                <div class="panel panel-default">
                    <div class="panel-heading pt-panel-heading">
                        <label for="text-overview"><a id="plan-toggle" data-toggle="collapse" data-parent="#instruction-section" href="#collapseinstructionplan">Task At-A-Glance</a></label>
                    </div>
                    <div id="collapseinstructionplan" class="collapse">
                        <textarea id="text-plan" name="textareaPlan" class="form-control" rows="10">{{plan}}</textarea>
                    </div>
                </div>
                {{/if}}
                <div class="panel panel-default">
                    <div class="panel-heading pt-panel-heading">
                        <label for="text-overview"><a id="overview-toggle" data-toggle="collapse" data-parent="#instruction-section" href="#collapseinstructionoverview">Overview </a></label>
                    </div>
                    <div id="collapseinstructionoverview" class="collapse">
                        <textarea id="text-overview" name="textareaOverview" class="form-control" rows="10">{{overview}}</textarea>
                    </div>
                </div>
                {{#if isSubjectEla}}
                <div class="panel panel-default">
                    <div class="panel-heading pt-panel-heading">
                        <label for="text-outline"><a id="outline-toggle" data-toggle="collapse" data-parent="#instruction-section" href="#collapseinstructionOutline">Days At-A-Glance</a></label>
                    </div>
                    <div id="collapseinstructionOutline" class="collapse">
                        <textarea id="text-outline" name="textareaOutline" class="form-control" rows="10">{{outline}}</textarea>
                    </div>
                </div>
                {{/if}}
                <div class="panel panel-default">
                    <div class="panel-heading pt-panel-heading">
                        <label for="text-ccss">
                            <a id="standards-toggle" data-toggle="collapse" data-parent="#instruction-section" href="#collapseinstructionstandards">{{#if isSubjectEla}}CCSS Alignment{{else}}Standards{{/if}} </a>
                        </label>
                    </div>
                    <div id="collapseinstructionstandards" class="collapse">
                        <textarea id="text-ccss" name="textareaCcss" class="form-control" rows="10">{{ccssEvidence}}</textarea>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading pt-panel-heading">
                        <label for="text-readySetGo"><a id="readySetGo-toggle" data-toggle="collapse" data-parent="#instruction-section" href="#collapseinstructionreadysetgo">Get Ready, Get Set, Go! </a></label>
                    </div>
                    <div id="collapseinstructionreadysetgo" class="collapse">
                        <textarea id="text-readySetGo" name="textareaReadySetGo" class="form-control" rows="10">{{readySetGo}}</textarea>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading pt-panel-heading">
                        <label><a id="steps-toggle" data-toggle="collapse" data-parent="#instruction-section" href="#collapseinstructiongosteps">Step-By-Step Directions </a></label>
                    </div>
                    <div id="collapseinstructiongosteps" class="collapse">
                        <div id="assessment-day-selection" class="pull-right">
                            <label>{{getSubjectDayLabel}}</label>
                            <select name="day" id="select-day"> 
                                {{#each getReferenceDays}}
                                <option value="{{day}}">{{day}}</option>
                                {{/each}}
                            </select>
                            <button type="button" id="add-day" class="btn btn-primary btn-sm">Add</button>
                        </div>
                        <br/><br/>

                        <!-- Assessments -->
                        <div class="panel-group" id="assessment-group-accordion">
                            {{#each ../assessmentSchedule}}
                            <div class="panel panel-default">
                                <div class="panel-heading pt-panel-heading">
                                    <!-- Day/Part -->
                                    <label><a href="javascript:void(0)" id="delete-day"><i class="fa fa-minus-circle"></i></a> <a id="day-toggle" data-toggle="collapse" data-parent="#assessment-group-accordion" href="#collapse{{day}}">{{getSubjectDayLabel}} {{day}}</a> </label>
                                    <span class="pull-right">
                                        <label>Step</label>
                                        <select name="assessment{{day}}" id="select-assessment"> 
                                            <option value="assessment_instruction">Teacher Instruction</option>
                                            <option class="select-dash" disabled="disabled">----</option>
                                            {{#each getAssessments}}
                                            <option value="{{_id}}">{{name}}</option>
                                            {{/each}}
                                        </select>
                                        <button type="button" id="add-assessment" class="btn btn-primary btn-sm">Add</button>
                                    </span>
                                </div>
                                <div id="collapse{{day}}" class="assessment-day-item panel-collapse collapse" data-day="{{day}}">
                                    <div>
                                        <label for="text-dayInstructions{{day}}">Day {{day}} Time and Materials Needed</label> 
                                        <div>
                                            <textarea id="text-dayInstructions{{day}}" name="dayInstructions{{day}}" class="form-control editable{{../../day}}" rows="10">{{dayInstructions}}</textarea>
                                        </div>
                                    </div>

                                    <ul id="pt-days-list" class="list-group">
                                        <!-- Assessments -->
                                        {{#each assessments}}
                                        <li class="list-group-item" id="assessment-accordion">
                                            {{#with joinWithAssessments}}
                                            <!-- Assessment -->
                                            <div>
                                                <a href="javascript:void(0)" id="delete-assessment" data-day="{{../../day}}"><i class="fa fa-minus-circle"></i></a> <a id="assessment-name-heading" data-toggle="collapse" data-parent="#assessment-accordion" href="#collapseassessment{{../../day}}{{_id}}">Step {{step}}: {{name}}</a>
                                                <span class="pull-right"><label>Order</label> <button type="button" id="assessment-order-up" class="btn btn-default btn-sm" data-day="{{../../day}}" {{isAssessmentMoveUpDisabled ../../day}}><i class="fa fa-arrow-up"></i></button><button type="button" id="assessment-order-down" class="btn btn-default btn-sm" data-day="{{../../day}}" {{isAssessmentMoveDownDisabled ../../day}}><i class="fa fa-arrow-down"></i></button></span>
                                            </div>


                                            <div id="collapseassessment{{../../day}}{{_id}}" class="collapseableList collapse {{displayAssessment ../../day}}">
                                                <br/>
                                                <!-- Step -->
                                                <div>
                                                    <label for="input-step">Step</label> 
                                                    <div>
                                                        <input type="text" value="{{step}}" name="step{{../../day}}{{_id}}" id="input-step" class="form-control" required="true"/>
                                                    </div>
                                                </div>  

                                                {{#if isStepInstruction}}
                                                    {{> stepInstructionTextArea}}
                                                {{else}}
                                                <!-- Assessment Response type -->
                                                <div>
                                                    <label for="input-responseType">Response Type</label> 
                                                    <div>
                                                        <input type="text" value="{{responseType}}" name="responseType{{../../day}}{{_id}}" id="input-responseType" class="form-control" required="true"/>
                                                    </div>
                                                </div>  

                                                <!-- Assessment Values -->
                                                <div>
                                                    <label>Assessment Values</label> 
                                                    <div class="table-responsive">
                                                        <table class="table table-condensed">
                                                            <tr>
                                                                <th>Value</th>
                                                                <th>Image?</th>
                                                                <th>Possible Response (Text or Image Path)</th>
                                                            </tr>
                                                            {{#each possibleValues}}
                                                            {{#with joinWithAssessmentValues ../assessment_id}}
                                                            <tr>
                                                                <td>{{value}}</td>
                                                                <td><input type="checkbox" name="isPossibleResponseImage{{../../../day}}{{../../_id}}{{_id}}" checked="{{isPossibleResponseImage}}"/></td>
                                                                <td><input type="text" value="{{possibleResponse}}" name="possibleResponse{{../../../day}}{{../../_id}}{{_id}}" class="form-control"/></td>
                                                            </tr>
                                                            {{/with}}
                                                            {{/each}}
                                                        </table>
                                                    </div>
                                                </div>

                                                {{#if isSubjectEla}}
                                                <!-- Standards and Evidences -->
                                                <div>
                                                    <label for="text-standardsEvidence">Standards &amp; Evidences</label> 
                                                    <div>
                                                        <textarea id="text-standardsEvidence" name="standardsEvidence{{../../day}}{{_id}}" class="form-control editable" rows="10">{{standardsEvidence}}</textarea>
                                                    </div>
                                                </div>
                                                {{/if}}

                                                <!-- Student Work Product URL -->
                                                <div>
                                                    <label for="input-student-work-product">Student Work Product URL</label> 
                                                    <div>
                                                        <input type="text" value="{{studentWorkProduct}}" name="studentWorkProduct{{../../day}}{{_id}}" id="input-student-work-product" class="form-control"/>
                                                    </div>
                                                </div>
                                                {{/if}}
                                            </div>
                                            {{/with}}
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                                </div>
                                {{/each}}
                        </div>
                    </div>
                </div>

                {{#if isSubjectEla}}
                <div class="panel panel-default">
                    <div class="panel-heading pt-panel-heading">
                        <label for="text-ifthen"><a id="ifthen-toggle" data-toggle="collapse" data-parent="#instruction-section" href="#collapseinstructionifthen">If...Then... </a></label>
                    </div>
                    <div id="collapseinstructionifthen" class="collapse">
                        <textarea id="text-ifthen" name="textareaIfThen" class="form-control" rows="10">{{ifThen}}</textarea>
                    </div>
                </div>
                {{/if}}
            </div> 
            {{/with}}
        </div> 
         
        <div class="panel-footer">
            <button type="submit" class="save-class btn btn-primary">Save</button>
            <button type="button" id="btn-save-close" class="save-class btn btn-primary">Save &amp; Close</button>
        </div>
    </form>
</template>

<template name="stepInstructionTextArea">
    <div>
        <label for="text-step-instruction">Instructions</label>
        <textarea id="text-step-instruction" name="textareaStepInstruction{{../../day}}{{_id}}" class="form-control editable" rows="10">{{stepInstruction}}</textarea>
    </div>
</template>
