<template name="invalidUser">
    <p id="invalid-user-text">
        <b>We are sorry, but this website does not recognize your credentials for access.</b>
        <br/><br/>
        You may have to create your account first on the PRC <a href="http://prc.parcconline.org" target="_top">http://prc.parcconline.org</a> to access the resources on this site. If you already have credentials for the PRC, try logging back in here or on the PRC to reset your access. If none of these solutions work, you may also email <a href="mailto:prc-questions@parcconline.org?Subject=Account%20Access" target="_top">prc-questions@parcconline.org</a> for assistance with your account. Thank you.
    </p>
</template>