<template name="footer">
    {{#if isStudentAssessment}}
    <nav class="navbar navmenu-bottom-default navbar-fixed-bottom" style="background: {{getTaskColor}}" role="navigation">
        {{#with performanceTaskInstruction}}
        <div class="btn-group instruction-btn-group">
            <button type="button"
                    id="overview-popover"
                    class="btn btn-instruction btn-overview instruction-popover"
                    style="background-color: {{getTaskColor}}"
                    rel="popover"
                    data-toggle="popover"
                    data-placement="top"
                    data-trigger="focus"
                    data-container="body"
                    data-html="true"
                    data-title="Overview"
                    data-content="{{overview}}">Overview</button>

            {{#if isSubjectEla}}
            <button type="button"
                    id="outline-popover"
                    class="btn btn-instruction btn-outline instruction-popover"
                    style="background-color: {{getTaskColor}}"
                    rel="popover"
                    data-toggle="popover"
                    data-placement="top"
                    data-trigger="focus"
                    data-container="body"
                    data-html="true"
                    data-title="Outline"
                    data-content="{{outline}}">Outline</button>
            {{/if}}

            <button type="button"
                    id="ready-popover"
                    class="btn btn-instruction btn-outline instruction-popover"
                    style="background-color: {{getTaskColor}}"
                    rel="popover"
                    data-toggle="popover"
                    data-placement="top"
                    data-trigger="focus"
                    data-container="body"
                    data-html="true"
                    data-title="Get Ready, Get Set"
                    data-content="{{readySetGo}}">Get Ready, Get Set</button>

            <button type="button"
                    id="steps-popover"
                    class="btn btn-instruction btn-outline instruction-popover"
                    style="background-color: {{getTaskColor}}"
                    rel="popover"
                    data-toggle="popover"
                    data-placement="top"
                    data-trigger="focus"
                    data-container="body"
                    data-html="true"
                    data-title="Go! Steps"
                    data-content="{{steps}}">Go! Steps</button>

            <button type="button"
                    id="evidence-popover"
                    class="btn btn-instruction btn-outline instruction-popover"
                    style="background-color: {{getTaskColor}}"
                    rel="popover"
                    data-toggle="popover"
                    data-placement="top"
                    data-trigger="focus"
                    data-container="body"
                    data-html="true"
                    data-title="Standards"
                    data-content="{{ccssEvidence}}">Standards</button>

            {{#if isSubjectEla}}
            <button type="button"
                    id="ifthen-popover"
                    class="btn btn-instruction btn-outline instruction-popover"
                    style="background-color: {{getTaskColor}}"
                    rel="popover"
                    data-toggle="popover"
                    data-placement="top"
                    data-trigger="focus"
                    data-container="body"
                    data-html="true"
                    data-title="If...Then..."
                    data-content="{{ifThen}}">If...Then...</button>
            <button type="button"
                    id="resource-popover"
                    class="btn btn-instruction btn-outline instruction-popover"
                    style="background-color: {{getTaskColor}}"
                    onclick="window.open('/{{getStudentResources}}')">Student Resources</button>
            {{/if}}

        </div>
        {{/with}}
    </nav>
    {{/if}}
</template>