<template name="header">
    {{> updateAlertTemplate}}

    <nav id="parcc-nav" class="navbar navbar-default navbar-fixed-top">
       <!-- Logo -->
        <a class="navbar-brand" href="{{pathFor 'dashboard' }}">
            <img alt="PARCC" id="parcc-logo-img" src="/PARCC-Logo-Reverse.png"/>
        </a>

        <!-- Signed in user info -->
        {{#if currentUser}}
            <ul class="nav navbar-nav navbar-left">
                <li class="pull-left"><p class="navbar-text">{{signedInUser}}</p></li>
            </ul>
        {{/if}}

        <!-- Icon Navigation -->
        <ul class="nav navbar-nav navbar-right">
           {{#if currentUser}}
                <!-- Group or classroom selection -->
                <li id="group-li" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{selectedGroupName}}<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {{#each groups}}
                            <li><a href="{{#if goToDashboard}}{{pathFor 'dashboard' }}{{else}}javascript:void(0);{{/if}}" id="select-group">{{name}}</a></li>
                        {{/each}}
                    </ul>
                </li>

                <li><a href="{{pathFor 'dashboard' }}"><i class="fa fa-home fa-lg"></i></a></li>
                <li><a href="{{pathFor 'studentDetails' }}"><i class="fa fa-eye fa-lg"></i></a></li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i id="header-cog" class="fa fa-cog fa-lg"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a id="go-to-classrooms" href="{{pathFor 'classroom' }}">Classrooms</a></li>
                        <li><a id="go-to-groups" href="{{pathFor 'groups' }}">Groups</a></li>
                        <li><a href="{{pathFor 'journal'}}">Retrospective Journal</a></li>
                        {{#if displayAdminFunctions}}
                        <li><a href="{{pathFor 'standards' }}">Common Core State Standards</a></li>
                        <li><a href="{{pathFor 'assessment' }}">Collection Tools</a></li>
                        <li><a href="{{pathFor 'performancetask' }}">Performance Tasks</a></li>
                        <li><a href="{{pathFor 'glossary' }}">Glossary</a></li>
                        {{/if}}
                        <li><a id="logout-user">Sign Out</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-wifi fa-lg" style="{{#unless isOnline}}color: #FFFF33{{/unless}}"></i></a></li>
           {{/if}}
        </ul>
    </nav>
</template>
