// Override default bootstrap variables
// http://getbootstrap.com/customize/

// Example: Uncomment below and watch what happens
@navbar-default-bg: #333333;
@navbar-default-color: #ffffff;
@navbar-default-link-color: #ffffff;
@navbar-default-link-hover-color: darken(@navbar-default-link-color, 10%);
@navbar-default-link-active-color: #fff;
@navbar-default-link-active-bg: lighten(@navbar-default-bg, 6.5%);
@navbar-default-toggle-border-color:       #333333;

@nav-tabs-border-color: #000000;
@nav-tabs-active-link-hover-color: #fff;

@form-group-margin-bottom: 10px;

@grid-gutter-width: 14px;

// Responsive Variables
@xs: ~"(max-width: 767px)"; // Mobile Devices
@sm: ~"(min-width: 768px)"; // Tablets Portrait
@md: ~"(min-width: 900px)"; // Medium-sized Screens / Tablets Landscape
@lg: ~"(min-width: 1200px)"; // Desktop Screens


// Progress Bar Styles
@progress-background: darken(@navbar-default-bg, 10%);
@progress-shadow-color: darken(@navbar-default-bg, 10%);

// Assessment Grid and Box system
@box-padding: 6px;
@bottom-box-height: 70px;
@completed-students-color: darken(#2ecc71, 3%);
//@remaining-students-color:#95a5a6;
@remaining-students-color:#D24D57;
@parcc-blue-color: #265795;
@parcc-orange-color: #D58533;
@parcc-header-color: #C4C4C4;

@tooltip-opacity:             1;

@popoverBackground:       #003300;
@popoverArrowColor:       #003300;
@popoverTitleBackground:  #003300;
@popoverArrowOuterColor: #003300;
