<template name="groups" xmlns="http://www.w3.org/1999/html">
    {{> updateAlertTemplate}}
    <div id="group-container" class="container">
        <div id="group-row" class="row">
            <div class="page-header h2">Groups</div>
            <div class="col-sm-2 col-md-2 col-lg-2">
                <!-- Add new classroom --> 
                <div>
                    <a href="#" id="add-group"><i class="fa fa-plus-circle"></i> Add Group</a>
                </div>

                <!-- Group list -->
                <div class="list-group">
                    {{#each groups}}
                        <span id="select-group-item">
                        <!-- Select & Remove group -->
                        <a href="#" id="select-group" class="list-group-item {{isActiveGroup}}"><span id="select-group-name">{{name}}</span><span class="pull-right"><a href="#" id="remove-group"><i class="fa fa-minus-circle menu-icon {{isActiveGroup}}"></i></a></span></a>
                        </span>
                    {{/each}}
                </div>
            </div>
            <div class="col-sm-10 col-md-10 col-lg-10">
                {{#if groupIsSelected}}
                    {{> groupedStudents}}
                {{/if}}
            </div>
        </div>
    </div>
</template>

<template name="groupedStudents">
    <div id="student-row" class="row">
        {{#if isGroupEditable}}
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading"><span class="h4">Add Students to Group</span></div>
                <div class="panel-body">
                    <select class="form-control" name="classroom" id="select-classroom">?
                        <option value="">Select a classroom or shared group</option>
                        {{#each getClassrooms}}
                        <option value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                    <br/>

                    <div id="classroom-buttons" class="btn-group" role="group">
                        <button type="button" id="select-all-students" class="btn btn-default"><i class="fa fa-user"></i> Select All</button>
                        <button type="button" id="select-no-students" class="btn btn-default">Select None</button>
                    </div>

                    <br/><br/>

                    <button type="button" id="add-selected-students" class="btn btn-primary"><i class="fa fa-plus"></i> Add Selected to Group</button>

                    <br/><br/>
                    <div class="list-group">
                        {{#each selectedClassroomStudents}}
                        <a href="#" id="select-student" class="list-group-item {{#if isSelectedStudent}}active{{/if}}">
                            <h4 class="list-group-item-heading">
                                {{firstname}} {{lastname}}
                            </h4>
                        </a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/if}}
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="panel panel-default">
                {{#with selectedGroup}}
                <div class="panel-heading"><span class="h4">Group</span></div>
                <div class="panel-body">
                    <div class="form-inline">
                        <input type="text" value="{{name}}" placeholder="Group Name" name="groupName" id="input-group-name" class="form-control" required="true"/>
                        <select class="form-control" id="select-group-grade" name="groupGrade" required="true" {{isGroupGradeEnabled}}>
                            <option value="">Select Grade</option>
                            <option value="K" {{isGroupGradeSelected 'K'}}>K</option>
                            <option value="1" {{isGroupGradeSelected '1'}}>1</option>
                            <option value="2" {{isGroupGradeSelected '2'}}>2</option>
                        </select>
                    </div>
                    <br/>
                    <button type="button" id="save-group" class="btn btn-primary"><i class="fa fa-save"></i> Save Group</button>
                    {{#if isGroupEditable}}
                        <button type="button" id="share-group" class="btn btn-default"><i class="fa fa-share"></i> Share Group</button>
                    {{/if}}
                    <br/><br/>
                    {{#if isGroupEditable}}
                    <div>
                        <label>Order the list of students below:</label>
                    </div>
                    <div id="group-buttons" class="btn-group" role="group">
                        <button type="button" id="move-selected-up" class="btn btn-default"><i class="fa fa-arrow-up"></i> Move Selected Up</button>
                        <button type="button" id="move-selected-down" class="btn btn-default"><i class="fa fa-arrow-down"></i> Move Selected Down</button>
                    </div>

                    <br/><br/>
                    <div class="list-group">
                        {{#each students}}
                            {{#with joinWithStudents}}
                            <a href="#" id="select-group-student" class="list-group-item {{#if isSelectedGroupStudent}}active{{/if}}">
                                <h4 class="list-group-item-heading">
                                    {{firstname}} {{lastname}}<span class="pull-right"><a href="#" id="remove-group-student"><i class="fa fa-minus-circle menu-icon {{#if isSelectedGroupStudent}}active{{/if}}"></i></a></span>
                                </h4>
                            </a>
                            {{/with}}
                        {{/each}}
                    </div>
                    {{/if}}
                </div>
                {{/with}}
            </div>
            {{#if isGroupEditable}}
                {{> sharedInfo}}
            {{/if}}
        </div>
    </div>

    {{> shareGroupModal}}
</template>

<template name="sharedInfo">
    <!-- Panel to display all users the group is shared with -->
    <div class="panel panel-default">
        <div class="panel-heading"><span class="h4">Group shared with</span></div>
        <div class="panel-body">
            <div>
                {{#each sharedUsers}}
                <!-- View users and remove share -->
                    <span class="list-group-item">
                        <h4 class="list-group-item-heading">
                            {{sharedName}}
                            {{#if allowDelete}}
                            <span class="pull-right">
                            <a href="#" id="remove-group-share"><i class="fa fa-minus-circle"></i></a>
                            </span>
                            {{/if}}
                        </h4>
                    </span>
                {{/each}}
            </div>
        </div>
    </div>
</template>

<template name="shareGroupModal">
    <!-- Modal to allow the user to enter a user email to share the selected group with other users -->
    <div class="modal fade" id="shareGroupModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <input type="text" name="userEmail" id="input-user-email" class="form-control" placeholder="User Email Address" required="true"/>
                </div>
                <div class="modal-footer">
                    <button type="button" id="exit-share-modal" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" id="save-share-group" class="btn btn-primary">Share Group</button>
                </div>
            </div>
        </div>
    </div>
</template>
