#group-container {
  width: 100%;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

#group-row {
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#student-row {
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.student-action {
  height: 100%;
  vertical-align: middle;
  text-align: center;
}

#select-group-name {
  max-width: 180px;
  word-wrap: break-word;
  display: inline-block;
}

@media (max-width: 767px) {
  #select-group-name {
    max-width: 110px;
    word-wrap: break-word;
    display: inline-block;
  }
}
