<template name="ipad">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            ...
        </div>
    </nav>

    <div class="container">
        {{{getPTPlan}}}
        <br/>
        {{{getPTOverview}}}
    </div>
</template>