<!-- Performance Task Instructions and User Annotations -->
<template name="performanceTaskInstructionAnnotationsLayout">
    <div class="container-fluid annotations-col col-sm-12 col-md-12 col-lg-12">
        <div id="instruction-row" class="row">
            <!-- Instruction Text -->
            <div id="instruction-text" class="col-xs-9 col-sm-9 col-md-9 col-lg-7">
                <div class="instruction-inner-container" style="margin-bottom:100px;">
                    {{#unless switched}}
                        {{>annotationTextContainer}}
                    {{/unless}}
                </div>
            </div>

            <!-- Instruction Annotations -->
            <div id="instruction-notes" class="col-xs-3 col-sm-3 col-md-3 col-lg-5">
                <button type="button"
                        id="filter-btn"
                        data-toggle="collapse"
                        data-target="#filters"
                        class="visible-xs visible-sm collapsed">&lt; Annotations</button>

                <div id="filters" class="collapse">
                    <form id="add-annotation-form">
                        <!-- Note text -->
                        <textarea id="textarea-instruction-annotation" name="textareaInstructionAnnotation" class="form-control span12" rows="2" placeholder="Add annotation."></textarea>
                        <button type="submit" id="add-annotation-entry" class="btn btn-default"> Save</button>
                    </form>
                    <br/><br/>

                    {{#each ptInstructionAnnotations}}
                    <div class="panel">
                        <div class="panel-heading annotations-panel-header">
                            {{getFormattedAnnotationDate annotation_date}}
                        <span class="pull-right">
                            <a href="#" id="edit-annotation-entry"><i class="fa fa-edit"></i></a>&nbsp;&nbsp;
                            <a href="#" id="delete-annotation-entry"><i class="fa fa-minus-circle"></i></a>
                        </span>
                        </div>
                        <div class="panel-body annotations-panel-body">
                            {{#if isEditAnnotation}}
                            <form id="edit-annotation-entry-form">
                                <textarea id="textarea-edit-instruction-annotation" name="textareaEditInstructionAnnotation" class="form-control span12" rows="2">{{annotation}}</textarea>
                                <button type="submit" id="save-edit-annotation-entry" class="btn btn-default"> Save</button>
                                <button id="cancel-edit-annotation-entry" class="btn btn-default"> Cancel</button>
                            </form>
                            {{else}}
                            {{annotation}}
                            {{/if}}
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</template>

<template name="annotationTextContainer">
    {{{instructionAnnotationText}}}
</template>