<!-- Performance Task Assessment rubric, checklist, and artifact info -->
<template name="performanceTaskStudentAssessmentLayout">
    <!-- Students for Selected Classroom/Group to perform assessment on -->
    <div class="students-col col-sm-3 col-md-3 col-lg-3">
        {{> students}}
    </div>

    <!-- Performance Task Assessment Layout -->
    <div class="container-fluid assessment-col col-sm-9 col-md-9 col-lg-9">
        <!-- Selected performance task assessment -->
        {{#with assessment}}
        <!-- Checklist/Rubric/YesNoList Step -->
        <div class="student-assessment-panel-container">
            <div class="panel student-assessment-panel">
                <div class="panel-heading student-assessment-panel-header" style="border-color: {{getPTBackgroundColor}}">
                    <div class="row">
                        <div class="col-sm-10 col-md-10 col-lg-10 ccss-step-col student-steps">
                            STEP {{step}} {{getStepDescription}} {{responseType}}
                            <!-- Step CCSS values -->
                            <span class="pull-right">
                                {{#each commonCoreStateStandards}}
                                    {{#with joinWithCommonCoreStandards}}
                                    <button type="button" class="btn-link assessment-standard assessment-standard-tip" data-placement="bottom" data-toggle="tooltip" data-original-title="{{description}}">{{_id}}</button>
                                    {{/with}}
                                {{/each}}
                            </span>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2"></div>
                    </div>

                    <div>{{getAssessmentName}}</div>
                </div>
                <div class="panel-body student-assessment-panel-body">
                    {{#if isYesNoList type}}
                        <!-- Yes/No List -->
                        {{#each assessValues}}
                        <div id="yes-no-list-row" class="row">
                            <div class="col-sm-10 col-md-10 col-lg-10 yes-no-list-item assessment-value-grid-item-description">{{value}}</div>
                            <div class="col-sm-1 col-md-1 col-lg-1 yes-no-list-item table-text-center assessment-value-grid-item-description" style="{{#if isStudentYesNoAssessment 'yes'}}background-color: #FF6600; color: #FFFFFF;{{else}}background-color: #FFFFFF; color: #000000;{{/if}}">
                                <a href="#" id="select-student-assessment-yes" class="select-student-assessment-yesnolist {{isActiveStudentYesNoAssessment 'yes'}}" data-assesstype="{{../type}}" data-assessvalue="{{value}}" data-assessselection="yes">
                                    <i class="fa fa-md {{#if isStudentYesNoAssessment 'yes'}}fa-check checklist-checked{{else}}fa-square-o greyed-out-check{{/if}}"></i>&nbsp;&nbsp;Yes
                                </a>
                            </div>
                            <div class="col-sm-1 col-md-1 col-lg-1 yes-no-list-item table-text-center assessment-value-grid-item-description" style="{{#if isStudentYesNoAssessment 'no'}}background-color: #FF6600; color: #FFFFFF;{{else}}background-color: #FFFFFF; color: #000000;{{/if}}">
                                <a href="#" id="select-student-assessment-no" class="select-student-assessment-yesnolist {{isActiveStudentYesNoAssessment 'no'}}" data-assesstype="{{../type}}" data-assessvalue="{{value}}" data-assessselection="no">
                                    <i class="fa fa-md {{#if isStudentYesNoAssessment 'no'}}fa-check checklist-checked{{else}}fa-square-o greyed-out-check{{/if}}"></i>&nbsp;&nbsp;No
                                </a>
                            </div>
                        </div>
                        {{/each}}
                    {{else}}
                        {{#if isChecklist type}}
                        <!-- Checklist -->
                        {{#each assessValues}}
                        <div id="checklist-row" class="row">
                            <div class="col-sm-10 col-md-10 col-lg-10">
                                <a href="#" id="select-student-assessment" class="assessment-value-checklist-grid-item list-group-item {{isActiveStudentAssessment}}" style="{{#unless isStudentAssessment}}background-color: #ffffff; border-color: #dddddd{{/unless}}" data-assesstype="{{../type}}" data-assessvalue="{{value}}">
                                    <div class="assessment-value-grid-item-description" style="{{#if isStudentAssessment}}color: #FFFFFF{{/if}}">
                                        <i class="fa fa-md {{#if isStudentAssessment}}fa-check checklist-checked{{else}}fa-square-o greyed-out-check{{/if}}"></i>&nbsp;&nbsp;{{value}}
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <span class="checklist-show-students">
                                    <button type="button" id="view-checklist-assessed" class="btn btn-eye view-students-assessed" style=" {{#if isStudentAssessment}}color: #FF6600{{/if}}">
                                        <i class="view-icon fa fa-eye fa-lg" style="{{#if isStudentAssessment}}color: #FF6600{{/if}}"></i><br/>Show Students
                                    </button>
                                </span>
                            </div>
                        </div>
                        {{/each}}
                        {{else}}
                        <div class="row">
                            <!-- Rubric -->
                            {{#each assessValues}}
                            <div class="col-sm-4 col-md-4 col-lg-4" id="assessment-item">
                                <a href="#" id="select-student-assessment" class="assessment-value-grid-item list-group-item {{isActiveStudentAssessment}}" style="{{#unless isStudentAssessment}}background-color: #ffffff; border-color: #dddddd{{/unless}}" data-assesstype="{{../type}}" data-assessvalue="{{value}}">
                                    <div class="assessment-value-grid-item-value" style="{{#if isStudentAssessment}}color: #FFFFFF{{/if}}"><i class="fa {{#if isStudentAssessment}}fa-check{{else}}fa-square-o{{/if}}"></i> {{value}}</div>
                                    <div class="assessment-value-grid-item-description" style="{{#if isStudentAssessment}}color: #FFFFFF{{/if}}">{{description}}</div>
                                </a>
                                <br/>
                                <div class="view-btn-div">
                                    <button type="button" class="btn btn-eye view-students-assessed" style="{{#if isStudentAssessment}}color: #FF6600{{/if}}">
                                        <i class="view-icon fa fa-eye fa-lg" style="{{#if isStudentAssessment}}color: #FF6600{{/if}}"></i><br/>Show Students
                                    </button>
                                </div>
                                <div class="assessment-value-grid-item-possible-response">
                                    {{#if isResponseImage ../possibleValues}}
                                    <img src="{{getResponse ../possibleValues}}" alt="" class="response-img"/>
                                    {{else}}
                                    {{getResponse ../possibleValues}}
                                    {{/if}}
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        {{/if}}
                    {{/if}}
                </div>
            </div>

            <br/>

            <!-- Standards and Evidences and Work Product -->
            <div class="panel work-product-panel row">
                {{#if isSubjectEla}}
                <div class="panel-heading work-product-panel-header col-sm-6 col-md-6 col-lg-6" style="border-color: {{getPTBackgroundColor}}">
                    <a href="#" id="standards-evidence-link" class="pt-extra-info-link">Standards &amp; Evidences <i class="fa fa-chevron-right"></i></a>
                </div>
                {{/if}}
                {{#if displayStudentWorkProduct}}
                <div class="panel-heading work-product-panel-header col-sm-6 col-md-6 col-lg-6" style="border-color: #cccccc">
                    <a href="{{studentWorkProduct}}" target="_blank" rel="nofollow" id="work-product-link" class="pt-extra-info-link">Sample Student Work Product <i class="fa fa-chevron-right"></i></a>
                </div>
                {{/if}}
            </div>
        </div>
        {{/with}}

        <!-- Artifacts for the selected student for the Performance Task -->
        {{> performanceTaskArtifacts}}
    </div>
</template>

<!-- Artifacts (images/notes) for a selected student for the Performance Task -->
<template name="performanceTaskArtifacts">
    {{#each performanceTaskMedia}}
    <div class="performance-task-media-panel-container">
        <div class="panel performance-task-media-panel">
            <div class="panel-heading performance-task-media-panel-header">
                <!-- Allow artifact notes to be edited -->
                <a href="#" class="edit-note"><i class="fa fa-edit fa-lg"></i></a>
                &nbsp;&nbsp;
                <a href="#" class="delete-note"><i class="fa fa-minus-circle fa-lg"></i></a>
                &nbsp;&nbsp;
                <!-- List of the students the artifact is associated with -->
                <ul class="comma-list">
                    {{#each students}}
                        {{#with joinWithStudents}}
                            <li>{{firstname}} {{lastname}}</li>
                        {{/with}}
                    {{/each}}
                </ul>

                &nbsp;&nbsp;
                <!-- CCSS the artifact is associated with -->
                <span>
                    {{#each commonCoreStateStandards}}
                        {{_id}}
                    {{/each}}
                </span>

                <!-- Date the artifact was captured -->
                <span class="pull-right">{{getFormattedDate captured_date}}</span>
            </div>
            <!-- Display of artifact note or images -->
            <div class="panel-body performance-task-media-panel-body">
                {{#if isNote}}
                    {{note}}
                {{else}}
                    <div class="table-responsive">
                        <table class="table" style="width: auto;">
                            <tr>
                            {{#each file}}
                                {{#with fileInfo}}
                                <td style="padding-left: 10px;">
                                    <a id="view-artifact-image" href="#" data-url="{{this.url}}">
                                        {{#if isImage}}<img src="{{this.url}}" alt="" class="media-img" />{{/if}}
                                        {{#if isAudio}}<i class="fa fa-microphone fa-2x"></i>{{/if}}
                                        {{#if isVideo}}<i class="fa fa-video-camera fa-2x"></i>{{/if}}
                                    </a>
                                    <br/>
                                    {{this.name}}
                                </td>
                                {{/with}}
                            {{/each}}
                            </tr>
                        </table>
                    </div>
                {{/if}}
            </div>
            <div class="panel-footer performance-task-media-panel-footer">

            </div>
        </div>
    </div>
    {{/each}}
</template>

<!-- Modal to display standards and evidence -->
<template name="ptStandardsEvidenceModal">
    <div class="modal fade" id="ptStandardsEvidenceModal" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div id="pt-info-content">
                        {{{getStandardsEvidence}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<!-- Modal to display larger artifact image -->
<template name="artifactDisplayImageModal">
    <div class="modal fade" id="artifactDisplayImageModal" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div>
                        <img id="artifact-display-img" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>