<!-- Students for Selected Classroom/Group with ability to flag, sort and select/deselect -->
<template name="students">
    <!-- Sort, select all, select none Buttons-->
    <div id="sort-toolbar" class="row btn-toolbar" role="toolbar">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <span id="sort-btn-group">
                <button type="button" class="btn btn-toolbar-select-student dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-sort fa-lg"></i><br/>Sort
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" id="alpha-sort"><i class="fa fa-sort-alpha-asc"></i>&nbsp;&nbsp;&nbsp;Alphabetical</a></li>
                    <li><a href="#" id="complete-sort"><i class="fa fa-check-square-o"></i>&nbsp;&nbsp;&nbsp;Completed</a></li>
                    <li><a href="#" id="not-complete-sort"><i class="fa fa-square-o"></i>&nbsp;&nbsp;&nbsp;Not Completed</a></li>
                    <li><a href="#" id="flag-sort"><i class="fa fa-flag"></i>&nbsp;&nbsp;&nbsp;Flagged</a></li>
                    <li><a href="#" id="my-custom-sort"><i class="fa fa-sort-amount-asc"></i>&nbsp;&nbsp;&nbsp;My Custom Sort</a></li>
                </ul>
            </span>
        </div>
        <div class="action-btn-group col-sm-3 col-md-3 col-lg-3">
            <button type="button" id="select-all" class="btn btn-toolbar-select-student"><i class="fa fa-users fa-lg"></i><br/>All</button>
        </div>
        <div class="action-btn-group col-sm-3 col-md-3 col-lg-3">
            <button type="button" id="deselect-all" class="btn btn-toolbar-select-student"><i class="fa fa-user-times fa-lg"></i><br/>None</button>
        </div>
        <div class="action-btn-group col-sm-3 col-md-3 col-lg-3">
            <button type="button" id="flag" class="{{#unless studentsSelected}}disabled{{/unless}} btn btn-toolbar-select-student"><i class="fa fa-flag fa-lg"></i><br/>Flag</button>
        </div>
    </div>
    <div id="students-list-container" class="col-sm-3 col-md-3 col-lg-3">
        <!-- Sortable list of students -->
        <ul id="student-list" class="list-group list-unstyled">
            {{#each students}}
            <li id="student-item" class="col-md-6 list-group-item {{isActiveStudent _id}} {{getOddEvenColumn _id}}" data-id="{{_id}}"><span id="student-name" class="list-group-item-text">{{firstname}} {{lastname}}</span>
                <!-- Icons indicating assessment status for the PT -->
                <span class="pull-right">
                    {{#if isStudentFlagged}}
                        <i class="fa fa-flag flag-check student-assessed-flagged"></i>
                    {{else}}
                        {{#if isStudentAssessed}}
                            {{#if isRubric}}
                            <span class="student-assessment-icon">
                              <span class="student-assessment-rubric-val">{{getStudentRubricAssessmentValue}}</span>
                            </span>
                            {{else}}
                            <span class="student-assessment-icon">
                              <i class="fa fa-check"></i>
                            </span>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                </span>
            </li>
            {{/each}}
        </ul>
    </div>
</template>