<template name="studentassessment">
    <!-- Artifact Modal -->
    {{> artifactModal}}
    {{> artifactDisplayImageModal}}
    {{> ptStandardsEvidenceModal}}
    {{> updateAlertTemplate}}

    {{#with performanceTask}}
    <div id="title-container" class="container-fluid">
        <div id="pt-nav" class="row-fluid title-row collapse in" style="word-wrap: break-word;">
            <!-- Performance Task Instructions Menu -->
            <div id="instruction-toolbar" class="btn-toolbar" role="toolbar">
                {{#each mainMenuItems}}
                <button type="button"
                        id="menu-instruction"
                        class="btn btn-instruction {{isActiveMenuItem}}">{{{name}}}{{#if isMenuItemSelected}}<b class="notch"></b>{{/if}}</button>
                {{/each}}


                <a href="{{getStudentResources}}" target="_blank" id="menu-resource" class="btn btn-instruction">Student/Teacher<br>Resources</a>
            </div>
        </div>
        <div class="row title-row" style="background: {{getPTBackgroundColor}}">
            <!-- Performance Task Title Bar -->
            <div class="title-col student-assessment-name">
            {{#if isImageFound}}
                <img class="visual-img" src="{{visual}}">
            {{/if}}
                &nbsp;&nbsp;&nbsp;{{name}}
                <a id="nav-collapse-link" class="pull-right" data-toggle="collapse" href="#pt-nav" aria-expanded="false" aria-controls="pt-nav">
                    <i id="nav-caret" class="fa fa-chevron-{{getNavCareDirection}}"></i>
                </a>
            </div>
        </div>
        <!-- PT Day/Part and Step Selection -->
        {{#if isStudentAssessment}}
        <div class="row assessment-step-row">
            <div id="artifact-col" class="col-sm-3 col-md-3 col-lg-3" style="background: {{getPTBackgroundColor}}">
                <!-- Allow artifact to be added for selected student(s) if the step is an assessment step, not an instruction -->
                {{#if isStudentAssessmentLayout}}
                <button type="button" id="add-media" class="btn btn-artifacts pull-right"><i class="fa fa-folder-open-o fa-lg"></i> Add Artifact</button>
                {{/if}}
            </div>
            <div id="day-steps-col" class="col-sm-9 col-md-9 col-lg-9">
                <span class="btn-toolbar-day-steps" role="toolbar">
                    <span class="studentassessment-btn-group">
                        <span class="btn-group">
                            <button type="button" class="btn btn-day-dropdown" data-toggle="dropdown">
                                <span class="btn-day">{{subjectDayLabel}}</span> <span class="btn-day-step-selected">{{getSelectedDay}}</span> <i class="fa fa-sort-desc fa-day-dropdown dropdown-arrow"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                {{#each assessmentSchedule}}
                                <li><a href="#" class="select-day">{{day}}</a></li>
                                {{/each}}
                            </ul>
                        </span>
                        <span class="btn-group">
                            <button type="button" class="btn btn-step-dropdown" data-toggle="dropdown">
                                <span class="btn-step">Step</span> <span class="btn-day-step-selected">{{getSelectedStep}}</span> {{#unless isSelectedStepInstruction}}<i class="fa fa-pencil"></i>{{/unless}} <i class="fa fa-sort-desc fa-day-dropdown dropdown-arrow"></i><b class="notch"></b>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                {{#if isSubjectEla}}
                                <li><a href="#" class="select-step">Time and Materials</a></li>
                                {{/if}}
                                {{#each dayAssessments}}
                                <li><a href="#" class="select-step">{{step}} {{#unless isInstructionStep}}<i class="fa fa-pencil"></i>{{/unless}}</a></li>
                                {{/each}}
                            </ul>
                        </span>
                    </span>
                </span>
                <span id="next-previous-buttons" class="pull-right">
                    <button type="button" id="btn-previous" class="btn btn-next-previous" {{previousBtnDisabled}}><i class="fa fa-chevron-left"></i><span>&nbsp;Previous&nbsp;</span></button>
                    <button type="button" id="btn-next" class="btn btn-next-previous" {{nextBtnDisabled}}> <span>&nbsp;Next&nbsp;</span> <i class="fa fa-chevron-right"></i></button>
                </span>
            </div>
        </div>
        {{/if}}
    </div>


    <!-- Student Performance Task Assessment -->
    <div id="student-assessment-container" class="container-fluid">
        <div id="student-assessment-row" class="row">
            {{#if isStudentAssessmentLayout}}
                <!-- Performance Task Assessment Layout -->
                {{> performanceTaskStudentAssessmentLayout}}
            {{else}}
                <!--- Performance Task Instruction and Annotations Layout -->
                {{> performanceTaskInstructionAnnotationsLayout instructionAnnotationText=instructionAnnotationText}}
            {{/if}}
        </div>
    </div>
    {{/with}}
</template>

<!-- Modal to add/edit artifacts -->
<template name="artifactModal">
    <div class="modal fade" id="artifactModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                {{#with ptMedia}}
                <div class="modal-body">
                    <div class="media-icons-container">
                        <a href="#" id="{{#if isEditMode}}no-select-image{{else}}select-image{{/if}}" class="media-icons {{isActiveMediaType 'image'}}"><i class="fa fa-file-image-o fa-lg"></i> Add Image</a>
                        <a href="#" id="{{#if isEditMode}}no-select-note{{else}}select-note{{/if}}" class="media-icons {{isActiveMediaType 'note'}}"><i class="fa fa-file-text fa-lg"></i> Add Note</a>
                    </div>
                    {{#if isNote}}
                    <textarea id="text-note" name="textareaNote" class="form-control" required="true" rows="10">{{note}}</textarea>
                    {{else}}
                    <input type="file" id="file-media" name="fileMedia" class="form-control" required="true" accept="{{getAcceptTypes}}" multiple/>
                    {{/if}}
                </div>
                {{/with}}
                <div class="modal-footer">
                    {{#if isNote}}
                    <button type="button" id="clear-note" class="btn btn-media pull-left">Clear</button>
                    {{/if}}
                    <button type="button" class="exit-modal btn btn-media" data-dismiss="modal">Cancel</button>
                    <button type="button" id="save-media" class="btn btn-primary btn-media">Save</button>
                </div>
            </div>
        </div>
    </div>
</template>