// **** Main Container ****//
#student-assessment-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position:relative;
  top:0;
}

#student-assessment-row {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 50px 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 100;
}

.students-col {
  height: 100%;
  background-color: #E0E0E0;
  margin: 0px 0px 200px 0px;
  padding: 0px 0px 200px 0px;
  overflow: hidden;
}


.assessment-col {
  height: 100%;
  margin: 0px 0px 230px 0px;
  padding: 0px 0px 230px 0px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.annotations-col {
  height: 100%;
  margin: 0px 0px 80px 0px;
  padding: 0px 0px 0px 0px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

// **** Performance Task Instructions Menu **** //

#instruction-toolbar {
  height: auto;
  min-height: 50px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  z-index: 2;
  overflow: hidden;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  vertical-align: middle;
}

.btn-instruction {
  background-color: #ffffff;
  border-color: #ffffff;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-radius: 0px;
  height: 45px;
  font-family: Arial;
  color:  #666666;
  font-size: 14px;
  font-weight: 400;
  vertical-align: middle;
  line-height: 1.2;
  @media (max-width:930px){
    padding-left:5px;
    padding-right:5px;
  }

  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &.active:hover,
  &:active:hover,
  &.active:focus,
  &:active:focus {
    background-color: #ff6600;
    border-color: #ff6600;
    color:  #ffffff;
    outline: none;
  }


  &:active,
  &.active {
    background-color: #ff6600;
    border-color: #ff6600;
    color:  #ffffff;
  }
}

#title-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#pt-nav {
  background-color: #ffffff;
  height: 50px;
}

.title-row {
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding-left: 15px;
  padding-right: 60px;
  padding-top: 0px;
  padding-bottom: 0px;
  z-index: 2;
  overflow: hidden;
  height: 50px;
  @media (max-width:930px){
    padding-left:10px;
    padding-right:10px;
  }
}

.title-col {
  height: 100%;
  float: none;
  vertical-align: middle;
}

.student-assessment-name {
  font-family: Arial;
  color:  #000000;
  font-size: 30px;
  font-weight: 400;
  padding-left: 15px;
}

.visual-img {
  width: 100%;
  max-width: 55px;
  max-height: 50px;
}

#nav-collapse-link {
  color: #ffffff;
  text-decoration: none;
  display: block;
  width: 50px;
  text-align: center;
}

#nav-caret {
  font-size: 14px;
  display:inline-block;
  vertical-align: middle;
  line-height: 33px;
  height: 33px;
  margin: 0px;
  padding: 0px;
}

// **** Students Nav Column ****//

#action-toolbar {
  background-color:  #999999;
  width: 100%;
  height: 80px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 2;
  overflow: hidden;
}

.btn-toolbar {
  margin-left: 0px;
}

.action-btn-group {
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.btn-toolbar-mark-student {
  background-color:  #999999;
  border-color: #999999;
  border-radius: 4px;
  height: 80px;
  width: 100%;
  font-family: Arial;
  color:  #666666;
  font-size: 12px;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 0px;

  &:hover,
  &:focus  {
    background-color: #999999;
    color:  #666666;
  }

  &:active,
  &.active {
    background-color: #999999;
    border-color: #999999;
    color:  #666666;
  }
}

#sort-toolbar {
  background-color:  #E0E0E0;
  width: 100%;
  height: 50px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.sort-toolbar {
  height: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

#sort-btn-group {
  position: relative;
  top: 28%;
}

.btn-toolbar-select-student {
  background-color:  #E0E0E0;
  border-color: #E0E0E0;
  border-radius: 4px;
  height: 50px;
  width: 100%;
  font-family: Arial;
  color:  #666666;
  font-size: 12px;
  font-weight: bold;
  vertical-align: middle;
  margin-left: 0px;

  &:hover,
  &:focus  {
    background-color: #E0E0E0;
    color:  #666666;
  }

  &:active,
  &.active {
    background-color: #E0E0E0;
    border-color: #E0E0E0;
    color:  #666666;
  }
}


// **** Students Column ****/

#students-list-container {
  height: 100%;
  width: 100%;
  margin: 0px 0px 80px 0px;
  padding: 0px 0px 100px 0px;
  overflow-y: auto;
  overflow-x: hidden;
}

#student-list {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 16px;
}

#student-list li {
  width: 160px;
  height: 38px;
  border-radius: 10px;
  margin-top: 5px;
  background-color: #666666;
  border-color: #666666;
  font-family: Arial;
  color:  #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  cursor: default;

  &:hover,
  &:focus  {
    color:  #FFFFFF;
  }

  // LS PAR-259: Changed this from orange to dark grey to remove the flicker, but still give the user some UI feedback.
  &:active {
    background-color: #424141;
    border-color: #424141;
  }
  &.active {
    background-color: #FF6600;
    border-color: #FF6600;
    color:  #FFFFFF;
  }
}


#student-item {
  margin-right: 20px;
}

#student-name {
  max-width: 100px;
  float:left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #FFFFFF;
}

.student-assessed-flagged {
  color: #FFFFFF;
}

.student-assessment-icon {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-size: 15px;
  display: inline-block;
  width: 18px;
  height: 18px;
  text-align: center;
  vertical-align: top;
  line-height: 18px;
}

.student-assessed-stack {
  padding-top: 0px;
}

.student-assessed-text {
  margin-top: .3em;
}

.student-assessment-rubric-val {
  font-weight: bold;
  padding-bottom: 8px;
}

// **** Instructions and Annotations Layout ****//

#instruction-row {
  height: 100%;
  overflow: hidden;
  padding-bottom: 100px;
}

#instruction-text {
  background-color: #FFFFFF;
  padding: 10px 30px;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#instruction-notes {
  padding: 10px 15px 100px 15px;
  height: 100%;
  min-height:100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.annotations-panel-header {
  font-family: Arial;
  color:  #000000;
  font-size: 14px;
}

.annotations-panel-body {
  font-family: Arial;
  color:  #000000;
  font-size: 14px;
}

// **** Performance Task Assessments Layout ****//

.assessment-step-row {
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  height: 50px;
}

.studentassessment-toolbar {
  background-color:  #999999;
  width: 100%;
  height: 50px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  z-index: 2;
}

.studentassessment-btn-group {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.btn-artifacts {
  background-color: #ffffff;
  color: #0055C8;
}

#artifact-col {
  height: 50px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
}

#day-steps-col {
  height: 50px;
  margin-left: 0px;
  padding-left: 0px;
  background-color:  #ff9a00;
}

#next-previous-col {
  background-color:  #ff9a00;
  height: 50px;
  margin: 0px 0px 0px 0px;
  padding: 0px 60px 0px 0px;
}

#next-previous-buttons {
  padding-top: 8px;
  padding-right: 60px;
  @media(max-width:1000px) and (min-width:771px){
    padding-right:30px;
  }
  @media (max-width:770px){
    padding-right:20px;
  }
}

.btn-next-previous {
  background-color: #ffffff;
  @media(max-width:900px){
    span{
      display:none;
    }
    margin-left:5px;
  }
  &:active,
  &.active {
    color:  #000000;
    border-color: #000000;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  &:disabled {
    color:  #ffffff;
    background-color: #ff9a00;
    border-color: #ffffff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.btn-toolbar-day-steps {
  margin-left: 0px;
  padding-left: 0px;
}

.btn-day {
  font-size: 16px;
  font-weight: 400;
}

.fa-day-dropdown {
  font-size: 16px;
  font-weight: 400;
  vertical-align: middle;
}

.btn-day-step-selected {
  font-family: Arial;
  color:  #ffffff;
  font-size: 30px;
  font-weight: 400;
  color: #ffffff;
}

.btn-day-dropdown {
  height: 50px;
  width: 120px;
  color: #ffffff;
  background-color: #F86B00;
  border-radius: 0px;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-color: #cccccc;
  font-family: Arial;
  color:  #ffffff;
  font-size: 16px;
  font-weight: 400;

  &:hover,
  &:focus  {
    color:  #ffffff;
    background-color: #F86B00;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  &:active,
  &.active {
    color:  #ffffff;
    background-color: #F86B00;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.btn-step-dropdown {
  background-color:  #ff9a00;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-radius: 0px;
  height: 50px;
  font-family: Arial;
  color:  #ffffff;
  font-size: 16px;
  font-weight: 400;

  &:hover,
  &:focus  {
    color:  #ffffff;
    background-color: #ff9a00;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  &:active,
  &.active {
    color:  #ffffff;
    background-color: #ff9a00;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .notch {
    position: absolute;
    top: 50px;
    left: 50px;
    margin: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ff9a00;
    padding: 0;
    width: 0;
    height: 0;
  /* ie6 height fix */
    font-size: 0;
    line-height: 0;
  /* ie6 transparent fix */
    _border-right-color: pink;
    _border-left-color: pink;
    _filter: chroma(color=pink);
    z-index: 1000;
  }
}

.dropdown-arrow {
  font-size: 16px;
}

.btn-step {
  font-size: 16px;
  font-weight: 400;
}

.btn-studentassessment {
  background-color:  #999999;
  border-color: #666666;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-radius: 0px;
  width: 157px;
  height: 50px;
  font-family: Arial;
  color:  #ffffff;
  font-size: 16px;
  font-weight: 400;
  vertical-align: middle;

  &:hover,
  &:focus  {
    color:  #ffffff;
    background-color: #ff6600;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  &:active,
  &.active {
    color:  #ffffff;
    background-color: #ff6600;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .notch {
    position: absolute;
    top: 50px;
    left: 65px;
    margin: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ff6600;
    padding: 0;
    width: 0;
    height: 0;
  /* ie6 height fix */
    font-size: 0;
    line-height: 0;
  /* ie6 transparent fix */
    _border-right-color: pink;
    _border-left-color: pink;
    _filter: chroma(color=pink);
    z-index: 3;
  }
}


.studentassessment-step-toolbar {
  background-color: #666666;
  width: 100%;
  height: 40px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  z-index: 1;
}

.ccss-step-col {
  padding-right: 0px;
}

.assessment-day-item-count {
  font-family: Arial;
  color:  #ffffff;
  font-size: 12px;
  font-weight: 400;
}

.studentassessment-step-btn-group {
  padding-left: 40px;
  margin-left: 0px;
}

.btn-studentassessment-step {
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-left-width: 2px;
  border-right-width: 2px;
  border-radius: 0px;
  width: 50px;
  height: 40px;
  font-family: Arial;
  color:  #ffffff;
  font-size: 12px;
  font-weight: 400;
  vertical-align: middle;


  &:hover,
  &:focus  {
    color:  #ffffff;
    background-color: #ff9a00;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  &:active,
  &.active {
    color:  #ffffff;
    background-color: #ff9a00;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  .notch {
    position: absolute;
    top: 40px;
    left: 28px;
    margin: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ff9a00;
    padding: 0;
    width: 0;
    height: 0;
  /* ie6 height fix */
    font-size: 0;
    line-height: 0;
  /* ie6 transparent fix */
    _border-right-color: pink;
    _border-left-color: pink;
    _filter: chroma(color=pink);
  }
}

.checklist-show-students {
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

#pt-assessment-container {
  height: 100%;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  overflow-y: auto;
  overflow-x: hidden;
}

.student-assessment-panel-container {
  padding-top: 13px;
  padding-right: 48px;
  padding-left: 20px;
}

#student-assessment-instruction-panel-container {
  background-color: #FFFFFF;
  height: 100%;
}

.student-assessment-panel {
  margin: 0px 0px 0px 0px;
  border-radius: 0px;
  border: 0px;
}

.student-assessment-panel-header {
  border-left: 5px solid;
  border-bottom-width: 0px;
  border-radius: 0px;
  height: 55px;
  font-family: Arial;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 15px 30px 15px;
}

.student-assessment-panel-body {
  padding-right: 8px;
}

#select-student-assessment {
  &:hover,
  &:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #FF6600;
    border-color: #FF6600;
  }

  &:visited,
  &.visited,
  &:active,
  &.active {
    z-index: 2;
    color: #ffffff;
    background-color: #FF6600;
    border-color: #FF6600;
  }
}

.select-student-assessment-yesnolist {
  text-decoration: none;
  color:  #000000;

  &:visited,
  &.visited,
  &:focus,
  &:hover {
    text-decoration: none;
    color: #000000;
  }

  &:active,
  &.active {
    color: #ffffff;
    text-decoration: none;
  }
}


.assessment-value-grid-item {
  border-radius: 0px;
  height: 200px;

  &:visited,
  &.visited,
  &:active,
  &.active {
    background-color: #FF6600;
    border-color: #FF6600;
    color: #ffffff;
  }
}

#checklist-row {
  padding-bottom: 3px;
}

#yes-no-list-row {
  margin-bottom: 3px;
  margin-right: 0px;
  display: table;
  width: 100%;
  height: 100%;
}

.yes-no-list-item {
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding: 8px 8px 8px 8px;
  display: table-cell;
  height: 100%;
  float: none;
}

#assessment-item {
  .list-group-item {
    padding-left: 7px;
    padding-right: 7px;
  }
}

.assessment-value-checklist-grid-item {
  border-radius: 9px;

  &:visited,
  &.visited,
  &:active,
  &.active {
    background-color: #FF6600;
    border-color: #FF6600;
    color: #ffffff;
  }
}

@media only screen and (max-width: 1200px) {

  .assessment-value-grid-item-value {
    font-family: Arial;
    color:  #666666;
    font-size: 15px;
    font-weight: 400;
  }

  .assessment-value-grid-item-description {
    font-family: Arial;
    color:  #000000;
    font-size: 12px;
    font-weight: 400;
  }

}

@media (min-width: 1200px) {

  .assessment-value-grid-item-value {
    font-family: Arial;
    color:  #666666;
    font-size: 21px;
    font-weight: 400;
  }

  .assessment-value-grid-item-description {
    font-family: Arial;
    color:  #000000;
    font-size: 15px;
    font-weight: 400;
  }
}

.assessment-value-grid-item-possible-response {
  font-family: Arial;
  color:  #000000;
  font-size: 12px;
  font-weight: 400;
}

.view-btn-div {
  margin-bottom: 5px;
}

.btn-eye {
  background-color:  #ffffff;
  font-family: Arial;
  color:  #666666;
  width: 100%;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  height: 40px;

  &:hover,
  &:focus {
    background-color: #ffffff;
    color:  #666666;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  &:active,
  &.active {
    background-color: #ffffff;
    color:  #666666;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

.view-students-assessed {
  font-size: 12px;
  color: #000000;
}

#day-item {
  text-decoration: underline;
  font-weight: bold;
}

.student-steps {
  font-family: Arial;
  font-size: 12px;
  font-weight: 400;
}

.assessment-standard {
  font-family: Arial;
  color:  #000000;
  font-size: 14px;
  font-weight: 700;

  &:hover,
  &:focus  {
    color:  #000000;
    text-decoration: none;
  }

  &:active,
  &.active {
    color:  #000000;
    text-decoration: none;
  }
}

.assessment-standard-tip {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
}

.checklist-col {
  max-width: 50px;
}

.checklist-checked {
  color: #FFFFFF;
}

.view-icon {
  vertical-align: middle;
  color: #666666;
}

.response-img {
  max-height: 100px;
}

.work-product-panel {
  margin: 0px 0px 0px 0px;
  border-radius: 0px;
  border: 0px;
}

.work-product-panel-header {
  border-left: 5px solid;
  border-bottom-width: 0px;
  border-radius: 0px;
  height: 30px;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 15px 30px 15px;
}

.pt-extra-info-link {
  font-family: Arial;
  color:  #000000;
  font-size: 14px;
  text-decoration: none;

  &:hover,
  &:focus {
    color:  #000000;
    font-size: 14px;
    border: 0;
    text-decoration: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  &:active,
  &.active {
    color:  #000000;
    font-size: 14px;
    border: 0;
    text-decoration: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}


// **** Artifacts (images/notes) for a selected student for the Performance Task ****//

.btn-media {
  background-color: #8E8E8E;
  width: 151px;
  height: 30px;
  font-family: Arial;
  color:  #ffffff;
  font-size: 12px;
  font-weight: 400;

  &:hover,
  &:focus  {
    color:  #ffffff;
    background-color: #8E8E8E;
  }

  &:active,
  &.active {
    color:  #ffffff;
    background-color: #8E8E8E;
  }

}

.performance-task-media-panel-container {
  padding-top: 13px;
  padding-right: 48px;
  padding-left: 20px;
}

.performance-task-media-panel {
  background-color: #E0E0E0;
  margin: 0px 0px 0px 0px;
  border-radius: 0px;
  border: 0px;
}

.performance-task-media-panel-header {
  background-color: #E0E0E0;
  border-radius: 0px;
  height: 30px;
  font-family: Arial;
  color:  #000000;
  font-size: 12px;
  font-weight: 400;
  vertical-align: middle;
}

.performance-task-media-panel-body {
  background-color: #ffffff;
  padding-left: 5px;
  margin-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  font-family: Arial;
  color:  #000000;
  font-size: 12px;
  font-weight: 400;
}

.performance-task-media-panel-footer {
  background-color: #E0E0E0;
  border-radius: 0px;
  height: 30px;
  font-family: Arial;
  color:  #ffffff;
  font-size: 12px;
  font-weight: 400;
  vertical-align: middle;
}

.comma-list {
  list-style-type: none;
  display: inline;
  padding-left: 0px;
  margin-left: 0px;
}

.comma-list li {
  display: inline;
}

.comma-list li:after {
  content: ", "
}

.comma-list li:last-child:after {
  content: ""
}

#instruction-text li {
  list-style: inherit !important;
}

.media-icons {
  padding-left: 40px;
  color: #666666;

  &:hover,
  &:focus  {
    color: #666666;
  }

  &:active,
  &.active {
    color: #ff6600;
  }
}

.media-icons-container {
  padding-bottom: 10px;
}

.media-img {
  width: 50px;
}

.fa-users-outline {
  color: #ffffff;
}

*.glossaryTerm {
  border-bottom: 1px dotted black;
}


.dropdown-menu > li > .select-day {
  color: #666666;

  &:hover,
  &:focus  {
    color:  #f66b16;
    background-color: #ffffff;
  }

  &:active,
  &.active {
    color:  #f66b16;
    background-color: #ffffff;
  }
}

.dropdown-menu > li > .select-step {
  color: #666666;

  &:hover,
  &:focus  {
    color:  #f66b16;
    background-color: #ffffff;
  }

  &:active,
  &.active {
    color:  #f66b16;
    background-color: #ffffff;
  }
}


@media (min-width: @screen-md)
{
  #filters
  {
    display: block;
  }
}

#filter-btn {
  background-color: #cccccc;
  color:  #0054c6;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  &:hover,
  &:focus  {
    background-color: #cccccc;
    color:  #0054c6;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  &:active,
  &.active {
    background-color: #cccccc;
    color:  #0054c6;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

#instruction-text {
  table.alignCenter{
    margin: 0 auto;
  }
  table.noPadding{
    td{
      padding: 0;
    }
  }
  table {
    width:100% !important;
    td {
      padding: 5px 5px 0;
    }
  }
}

