<template name="glossary">
        {{> updateAlertTemplate}}
        <div id="glossary-container" class="container">
            <div class="row">
                <div class="page-header h2">Glossary</div>
                <div class="col-md-4">
                    <!-- Glossary List -->
                    {{> glossaryTermsList}}
                </div>
                <div class="col-md-8">
                    <!-- Glossary Form -->
                    {{#if showGlossaryForm}}
                        {{> glossaryTermForm selectedGlossaryTerm}}
                    {{/if}}
                </div>
            </div>
        </div>
</template>

<!-- Glossary Terms List -->
<template name="glossaryTermsList">
    <!-- Add new glossary entry --> 
    <div>
        <a href="javascript:void(0)" id="add-glossary-term"><i class="fa fa-plus-circle"></i> Add Glossary Term</a>
    </div>

    <div class="list-group">
        {{#each glossaryTerms}}
            <span id="glossary-term-item">
                <a href="javascript:void(0)" id="select-glossary-term" class="list-group-item {{isActiveGlossaryTerm}}">{{term}}<span class="pull-right"><a href="javascript:void(0)" id="delete-glossary-term"><i class="fa fa-minus-circle menu-icon {{isActiveGlossaryTerm}}"></i></a></span></a>
            </span>
        {{/each}}
    </div>
</template>


<!-- Glossary Term Form -->
<template name="glossaryTermForm">
    <form class="panel panel-default">
        <div class="panel-heading">{{glossaryTermMode}} Glossary Term</div>
        <div class="panel-body">
            <!-- Term -->
            <div>
                <label for="input-term">Term</label> 
                <div>
                    <input type="text" value="{{term}}" name="glossaryTerm" id="input-term" class="form-control" required="true"/>
                </div>
            </div> 

            <!-- Definition -->
                <label for="text-glossary-definition">Definition</label>
                <textarea id="text-glossary-definition" name="textareaGlossaryDefinition">{{definition}}</textarea>

        </div>  
        <div class="panel-footer">
            <button type="submit" class="save-class btn btn-primary">Save</button>
        </div>
    </form>
</template>