.width-100-pc {
    width: 100%;
}

.height-100-pc {
    height: 100%;
}

.min-width-100px {
    min-width: 100px !important;
}

.dark-grey {
    background-color: #999 !important;
}

.light-grey {
    background-color: #CCCCCC !important;
}

.white {
    background-color: white !important;
}

.padding-50-px {
    padding: 50px !important;
}

.padding-16-px {
    padding: 16px !important;
}

.center-text {
    text-align: center;
}

.font-size-36px {
    font-size: 36px !important;
}

.font-size-30px {
    font-size: 30px !important;
}

.font-size-16px {
    font-size: 16px !important;
}

.font-size-20px {
    font-size: 20px !important;
}

.margin-8px {
    margin: 8px !important;
}

.margin-right-10px {
    margin-right: 10px !important;
}

.class-student-selected-left {
    color: white !important;
    background-color: #F66B16;
    border-left: solid 3px #ffffff;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
}

.class-student-selected-right {
    color: white !important;
    background-color: #F66B16;
    border-left-width: 0px;
    border-right: solid 3px #ffffff;
    border-bottom-width: 0px;
    border-top-width: 0px;
}

.class-student-unselected {
    color: white !important;
    background-color: #999999;
    border-left: solid 3px #ffffff;
    border-right: solid 3px #ffffff;
    border-bottom-width: 0px;
    border-top-width: 0px;
}

.class-student-button {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-decoration: none !important;
    line-height: 5rem;
    padding: 14px;
}

.class-student-button:hover {
    background-color: #F66B16;
}

.blue-text {
    color: #3179D0 !important;
}

.black-text {
    color: #000000 !important;
}

.white-text {
    color: white !important;
}

.line-height-normal {
    line-height: normal !important;
}

.class-details-notch {
    position: absolute;
    top: 100px;
    left: 80px;
    margin: 0;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid #F66B16;
    z-index: 1;
}

.square-corners {
    border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
}

#class-details-filters {
    float: right;
    margin: 8px;
}

.right {
    float: right !important;
}

.min-height-51px {
    min-height: 51px !important;
}

.max-height-55px {
    max-height: 55px !important;
}

.height-55px {
    height: 55px !important;
}

.padding-8px {
    padding: 8px;
}

.padding-2px {
    padding: 2px !important;
}

.filter-highlight {
    color: white !important;
    background-color: #F66B16 !important;
    border-color: #F66B16 !important;
}

.truncate {
    text-overflow: ellipsis;
}

.default-cursor {
    cursor: default !important;
}

.engraved-text {
    text-align: center;
    position: absolute;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    line-height: 60px;
    font-size: 40px;
    font-weight: bold;
    color: #9b9b9b;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5); /* 50% black coming from the top */
}

.loading-engraved-text {
    z-index: 1000;
    text-align: center;
    position: absolute;
    top: 45%;
    right: calc(50% - 122px);
    margin: auto;
    height: auto;
    line-height: 30px;
    font-size: 40px;
    font-weight: bold;
    color: #9b9b9b;
    text-shadow: 0px -1px 0px rgba(0,0,0,.5); /* 50% black coming from the top */
}

.class-details-table {
    width: inherit;
    margin-left: 50px;
    overflow-x: scroll;
    overflow-y: visible;
}

.class-details-table td:first-child {
    min-width: 250px;
}

.class-details-table td:nth-child(2) {
    min-width: 100px;
}

.class-details-table th:first-child {
    min-width: 250px;
}

.class-details-table th:nth-child(2) {
    min-width: 100px;
}

.class-details-table td, th {
    border: 1px solid #999;
    padding: 3px;
    word-break: break-word;
}

.class-details-table-first-column {
    width: 250px;
    border-left: none !important;
}

.class-details-table-second-column {
    width: 150px;
}

.no-left-border {
    border-left: none;
}

.font-weight-300 {
    font-weight: 300 !important;
}

.font-weight-normal {
    font-weight: normal !important;
}

.class-details-table-check {
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    border-radius: 3px;
}

.class-details-table-check-yes {
    width: 35px;
}

.class-details-table-check-no {
    width: 29px;
}

.top {
    vertical-align: top;
}

.rotate {
    transform: rotate(-90deg);
}

.orange-background {
    background-color: #F66B16 !important;
}

.green-background {
    background-color: #009900;
}

.blue-background {
    background-color: #3179D0 !important;
}

th {
    width: 80px;
}

.height-auto {
    height: auto !important;
}

.border-radius-5 {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.padding-right-31px {
    padding-right: 31px;
}

.table-wrapper {
    width: 100%;
    overflow: scroll;
}

body {
    overflow: hidden;
}

.page-image {
    height: 41px;
    min-width: 41px;
    width: auto;
    font-size: 30px;
    text-align: center;
}

.tooltip-keep-bs-formatting {
    background-color: #000000;
    color: #FFFFFF;
    min-width: 5px;
}

.pagination-li {
    height: 47px;
    min-width: 47px;
}

.blue-on-hover:hover {
    background-color: #337ab7 !important;
    color: white !important;
}

.text-shadow-none {
    text-shadow: none;
}
