<template name="classDetails">
    {{> classArtifactModal}}
    {{> studentDetailsFilters}}

    <!-- Title Bar -->
    <div id="class-details-title-bar" class="light-grey width-100-pc center-text">
        <span class="font-size-36px">{{selectedGroup}}</span>
        <a id="class-details-csv-button" class="btn btn-default right margin-8px margin-right-10px {{#unless allUserSelectionsMade}}disabled {{else}}blue-text {{/unless}}" href="#" role="button"><i class="fa fa-lg fa-table"></i> Save as CSV</a>
    </div>
    {{#if loadingReport}}
        {{> loadingSpinner}}
    {{/if}}
    <!-- Page Content -->
    <!-- TODO: Show a message when there is no data for a particular filter selection -->
    {{#if allUserSelectionsMade}}
        {{> classDetailsReport}}
    {{else}}
       <div id="class-details-center-instruction" class="engraved-text">
            {{#unless loadingReport}}
                {{#unless groupSelected}}
                    Select a classroom or group.
                {{else}}
                    Choose filters or search by standard.
                {{/unless}}
            {{/unless}}
        </div>
    {{/if}}
</template>

<template name="loadingSpinner">
    <div class="modal-backdrop fade in"></div>
    <div id="class-details-center-instruction" class="loading-engraved-text {{#if isStudentDetails}} top-40-pc {{/if}}">
        <div class="light-grey div-padding-10 border-radius-5">
            {{> loading }}
            <br>
            <br>
            <br>
            <span class="font-size-20px">Loading Selection</span>
            <!--<i class="fa fa-lg fa-spin fa-cog"></i> Loading... <br> <span class="font-size-20px text-shadow-none">Please be patient.</span>-->
        </div>
    </div>
</template>

<template name="classDetailsPagination">
    {{#if displayPaginationMenu}}
        <nav class="center-text">
            <ul class="pagination pagination-lg">
                <li class="{{#if firstPage}}disabled{{/if}}">
                    <a href="#" aria-label="Previous" onclick="{{#unless firstPage}}updateDetailsPage(Session.get('details_page') - 1);{{/unless}}">
                        <span aria-hidden="true"><i class="fa fa-chevron-left"></i></span>
                    </a>
                </li>
                {{#each page}}
                    {{> classDetailsPaginationItem}}
                {{/each}}
                <li class="{{#if lastPage}}disabled{{/if}}">
                    <a href="#" aria-label="Next" onclick="{{#unless lastPage}}updateDetailsPage(Session.get('details_page') + 1);{{/unless}}">
                        <span aria-hidden="true"><i class="fa fa-chevron-right"></i></span>
                    </a>
                </li>
            </ul>
        </nav>
    {{/if}}
</template>

<template name="classDetailsPaginationItem">

    <li><a class="{{#if isActivePage this.pageNumber}}orange-background{{/if}} bs-default padding-2px pagination-li" href="#" onclick="updateDetailsPage({{this.pageNumber}});" data-toggle="tooltip" data-placement="top" data-original-title="{{this.name}}" title="{{this.name}}" style="background-color: {{this.color}};">{{#if this.image}}<img class="page-image" src="{{this.image}}" onerror="replaceWithBookIcon(this);">{{else}}<i style="font-size:1.75em;margin-top:5px;" class='fa {{#if isELA this.subject}}fa-book{{else}}fa-th-large{{/if}} white-text'></i>{{/if}}</a></li>

    <!--
    <li class="{{#if isActivePage this.pageNumber}}active{{/if}}"><a class="{{#if isActivePage this.pageNumber}}white-text{{/if}} bs-default" href="#" onclick="updateDetailsPage({{this.pageNumber}});" data-toggle="tooltip" data-placement="top" title="{{this.name}}" style="color: {{this.color}};"><i class="fa fa-lg fa-book"></i></a></li>
    -->
    <!--
    <li><a class="{{#if isActivePage this.pageNumber}}orange-background{{/if}} white-text bs-default" href="#" onclick="updateDetailsPage({{this.pageNumber}});" data-toggle="tooltip" data-placement="top" title="{{this.name}}" style="background-color: {{this.color}};">{{this.initial}}</a></li>
    -->
</template>

<template name="classDetailsReport">
    <div id="class-details-page-content" class="white width-100-pc overflow-auto">
        {{> classDetailsPagination}}
        {{#with reportOutput}}
                <div class="width-100-pc white-text height-55px" style="background-color:{{titleColor this.subject}}">
                    <img class="visual-img max-height-55px" src="{{this.visual}}">
                    <span class="font-size-30px padding-8px">{{this.name}}</span>
                    <span class="pull-right"><a class="no-outline-on-focus" href="#" id="openClassArtifactModal" data-toggle="modal" data-target="#classArtifactViewModal"><i class="fa fa-folder-o fa-lg"></i><br/>View Artifacts</a></span>
<!--
                    <span class="right padding-16-px"><a href="#" id="openClassArtifactModal" data-toggle="modal" data-target="#classArtifactViewModal" class="white-text"><i class="fa fa-folder-o fa-lg white-text" id="class-details-artifacts-icon"></i><br/>View Artifacts</a></span>
-->
                </div>

                {{#each assessmentSchedule}}
                    {{#if hasAssessments}}
                        <h3> Part {{this.day}}</h3>
                        {{#each assessments}}
                            {{#if hasAssessments}}
                                <div class="table-wrapper">
                                    <table class="class-details-table">
                                        <thead>
                                            <tr>
                                                <th class=" top">
                                                    <div>{{assessmentObject.name}}</div>
                                                    <div class="font-weight-normal">{{formatDate timestamp}}</div>
                                                </th>
                                                <th class=" center-text">
                                                    <div>Number of Students with Collected Information</div>
                                                    <h2 class="width-100-pc font-weight-300">{{numberOfStudents}}</h2>
                                                </th>
                                                {{#each groupStudent}}
                                                    <th class="center-text">
                                                        <div class="font-size-11 font-weight-normal">{{firstname}}<br>{{lastname}}</div>
                                                    </th>
                                                {{/each}}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each assessmentObject.assessValues}}
                                                <tr>
                                                    <th class="">{{this.value}}</th>
                                                    <th class=" center-text" style="color: {{../../../color}}"><h2 class="font-weight-300">{{checkedCount}}</h2></th>

                                                    {{#each studentList}}
                                                        <td class="center-text">
                                                            {{#if flagged}}
                                                                <div class="white-text class-details-table-check orange-background"><i class="fa fa-flag"></i></div>
                                                            {{else}}
                                                                {{#if checked}}
                                                                    <div class="white-text class-details-table-check" style="background-color: {{titleColor ../../../../subject}}"><i class="fa fa-check"></i></div>
                                                                {{else}}
                                                                    {{#if yes}}
                                                                        <div class="white-text class-details-table-check class-details-table-check-yes green-background">YES</div>
                                                                    {{else}}
                                                                        {{#if no}}
                                                                            <div class="white-text class-details-table-check class-details-table-check-no blue-background">NO</div>
                                                                        {{/if}}
                                                                    {{/if}}
                                                                {{/if}}
                                                            {{/if}}
                                                        </td>
                                                    {{/each}}
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                <br><br>
                            {{/if}}
                        {{/each}}
                    {{/if}}
                {{/each}}
        {{/with}}
        {{> classDetailsPagination}}
    </div>
</template>

<template name="classArtifactModal">
    <div class="modal fade" id="classArtifactViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Artifacts for {{className}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        {{#unless imageArtifactSelected}}
                            <h4>Notes</h4>
                            {{#if notes}}
                                {{#each notes}}
                                    <div class="performance-task-media-panel-container">
                                        <div class="panel performance-task-media-panel">
                                            <div class="panel-heading performance-task-media-panel-header height-auto">
                                                <div class="width-100-pc">
                                                    <span>
                                                        <h4>{{studentNames this.students}}</h4>
                                                    </span>
                                                </div>
                                                <div class="width-100-pc">
                                                    <span>
                                                        {{arrayToString this.commonCoreStateStandards}}
                                                    </span>
                                                    <span class="pull-right">{{getFormattedDate this.captured_date}}</span>
                                                </div>
                                            </div>
                                            <div class="panel-body performance-task-media-panel-body">
                                                {{this.note}}
                                            </div>
                                            <div class="panel-footer performance-task-media-panel-footer">

                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            {{else}}
                                <div class="well">
                                    No notes here.
                                </div>
                            {{/if}}

                            <h4>Images</h4>
                            {{#if images}}
                                {{#each images }}
                                    {{#each file}}
                                        <div class="performance-task-media-panel-container col-xs-6 col-sm-6 col-md-4">
                                            <div class="panel performance-task-media-panel">
                                                <div class="panel-heading performance-task-media-panel-header">
                                                    <span>
                                                        {{arrayToString ../commonCoreStateStandards}}
                                                    </span>
                                                </div>
                                                <div class="panel-body performance-task-media-panel-body center-content">
                                                    {{#with fileInfo this._id}}
                                                        <a href="#" class="artifact-view-modal-image-select" id="{{this._id}}" onclick="Session.set('selected_image_artifact', '{{this._id}}')">
                                                            <img src="{{this.url}}" width="100" height="100">
                                                        </a>
                                                    {{/with}}
                                                </div>
                                                <div class="panel-footer performance-task-media-panel-footer">
                                                    <span class="black-text">{{getFormattedDate ../captured_date}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    {{/each}}
                                {{/each}}
                            {{else}}
                                <div class="well">
                                    No images here.
                                </div>
                            {{/if}}
                        {{else}}
                            <div class="panel">
                                {{#with fileInfo selectedImageArtifact}}
                                    <div class="col-xs-12 center-content">
                                        <img src="{{this.url}}" class="max-width-100-pc"><br>
                                    </div>
                                {{/with}}
                            </div>
                        {{/unless}}
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        {{#if imageArtifactSelected}}
                            <button type="button" class="btn btn-primary" id="artifact-view-modal-back"><i class="fa fa-arrow-left"></i> Back to Artifacts</button>
                        {{/if}}
                        <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
