<template name="assessment">
    {{> updateAlertTemplate}}
    <div id="admin-assessment-container" class="container">
        <div class="row">
            <div class="page-header h2">Collection Tools</div>
            <div class="col-md-4">
                <!-- Filter assessements -->
                {{> assessmentFilter}}

                <!-- Assessment List -->
                {{> assessmentList}}
            </div>
            <div class="col-md-8">
                <!-- Assessment Form -->
                {{#if showAssessmentForm}}
                    {{> assessmentForm selectedAssessment}}
                {{/if}}
            </div>
        </div>
    </div>
</template>

<!-- Filter assessements -->
<template name="assessmentFilter">
    <form id="assessment-form" class="panel panel-default">
        <div class="panel-body">
            <div>
                <label for="select-filter-grade">Grade</label> 
                <select class="form-control" name="filterGrade" id="select-filter-grade" required="true"> 
                    <option value="K" selected="{{isGradeFilterSelected "K"}}">K</option>
                    <option value="1" selected="{{isGradeFilterSelected "1"}}">1</option> 
                    <option value="2" selected="{{isGradeFilterSelected "2"}}">2</option> 
                </select>
            </div> 
            <div>
                <label for="select-filter-subject">Subject</label> 
                <div id="select-filter-subject">
                    <input name="filterSubject" type="radio"  value="ela" checked="{{isSubjectFilterChecked "ela"}}"/> ELA
                    <input name="filterSubject" type="radio" value="math" checked="{{isSubjectFilterChecked "math"}}"/> Math
                </div>
            </div> 
            <div>
                <button type="button" id="filter-assessments" class="save-class btn btn-primary">Filter</button>
            </div>
        </div>  
    </form>
</template>


<!-- Assessment List -->
<template name="assessmentList">
    <!-- Add new assessment --> 
    <div>
        <a href="#" id="add-assessment"><i class="fa fa-plus-circle"></i> Add Collection Tool</a>
    </div>

    <!-- Assessment List -->
    <div class="list-group">
        {{#each assessments}}
            <span id="assessment-item">
                <a href="#" id="select-assessment" class="list-group-item {{isActiveAssessment}}">{{name}}<span class="pull-right"><a href="#" id="delete-assessment"><i class="fa fa-minus-circle menu-icon {{isActiveAssessment}}"></i></a></span></a>
            </span>
        {{/each}}
    </div>
</template>


<!-- Assessment Form -->
<template name="assessmentForm">
    <!-- Assessment Form -->
    <form class="panel panel-default">
        <div class="panel-heading">{{assessmentMode}} Collection Tool</div>
        <div class="panel-body">
            <div>
                <label for="select-grade">Grade</label> 
                <select class="form-control" name="grade" id="select-grade" required="true"> 
                    <option value="K" selected="{{isGradeSelected "K"}}">K</option>
                    <option value="1" selected="{{isGradeSelected "1"}}">1</option> 
                    <option value="2" selected="{{isGradeSelected "2"}}">2</option> 
                </select>
            </div> 
            <div>
                <label for="select-subject">Subject</label> 
                <div class="form-control" id="radio-subject">
                    <input id="radio-subject-ela" name="subject" type="radio"  value="ela" required="true" checked="{{isSubjectChecked "ela"}}"/> ELA
                    <input id="radio-subject-math" name="subject" type="radio" value="math" required="true" checked="{{isSubjectChecked "math"}}"/> Math
                </div>
            </div> 
            <div>
                <label for="select-type">Type</label> 
                <div class="form-control" id="radio-type">
                    <input id="radio-type-rubric" name="type" type="radio"  value="rubric" required="true" checked="{{isTypeChecked "rubric"}}"/> Rubric
                    <input id="radio-type-checklist" name="type" type="radio" value="checklist" required="true" checked="{{isTypeChecked "checklist"}}"/> Checklist
                    <input id="radio-type-yesnolist" name="type" type="radio" value="yesnolist" required="true" checked="{{isTypeChecked "yesnolist"}}"/> Yes/No List
                </div>
            </div> 
            <div>
                <label for="input-name">Name (eg. RL7 Comprehension Rubric)</label> 
                <div>
                    <input type="text" value="{{name}}" name="assessmentName" id="input-name" class="form-control" required="true"/>
                </div>
            </div>
            <div>
                <label for="input-name">Display Name</label> 
                <div>
                    <input type="text" value="{{displayName}}" name="displayName" id="input-display-name" class="form-control"/>
                </div>
            </div>
            <div>
                <label for="select-standard">Common Core Standards</label> 
                <select name="standard" id="select-standard"> 
                    {{#each getCommonCoreStandards}}
                    <option value="{{_id}}">{{_id}}</option>
                    {{/each}}
                </select>
                <button type="button" id="add-standard" class="btn btn-primary btn-sm">Add</button>
                <div class="panel panel-default">
                    <ul class="list-group">
                        {{#each commonCoreStateStandards}}
                        <li class="list-group-item"><a href="#" id="delete-standard"><i class="fa fa-minus-circle"></i></a> {{_id}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div>
                <label for="input-assessvalue">Collection Tool Values {{#unless isRubric type}}<a href="#" id="add-assessmentValue"><i class="fa fa-plus-circle">Add Other Collection Tool Values</i></a>{{/unless}}</label> 
                <div class="table-responsive">
                    <table class="table table-condensed">
                        <tr>
                            <th></th>
                            <th>Value</th>
                            {{#if isRubric type}}
                            <th>Description</th>
                            {{/if}}
                        </tr>
                        {{#each assessValues}}
                            <tr>
                                <td><a href="#" id="delete-assessmentValue"><i class="fa fa-minus-circle"></i></a></td>
                                {{#if isRubric ../type}}
                                <td><input type="text" value="{{value}}" name="assessmentValue" class="form-control" disabled required="true"/></td>
                                <td><input type="text" value="{{description}}" name="assessmentValueDescription" class="form-control"/></td>
                                {{else}}
                                <td><input type="text" value="{{value}}" name="assessmentValue" class="form-control" required="true"/></td>
                                {{/if}}
                            </tr>
                        {{/each}}
                    </table>
                </div>
            </div> 
        </div>  
        <div class="panel-footer">
            <button type="submit" class="save-class btn btn-primary">Save</button>
        </div>
    </form>
</template>
