p {
  margin: 0px;
}

.margin-top {
  margin-top: 10px;
}

.student-details-title-toolbar {
  width: 100%;
  height: 50px;
  margin-left: 5px;
  margin-right: 0;
  margin-top: 0;
  padding-left: 15px;
  padding-right: 10px;
  z-index: 2;
  overflow: hidden;
}

.student-assessment-name {
  color: white;
}

.indented-table {
  margin-left: 50px;
}

#student-details-table .fa-check {
  color: white;
}

.table-text-center {
  text-align: center;
  vertical-align: middle !important;
}

.student-details-table-item {
  display: -webkit-box;
  width: 97%;
}

.student-details-table-score {
  /*background-color: green;*/
  font-weight: strong;
  color: #ffffff;
  border-radius: 5px;
  margin-bottom: 2px;
  padding: 2px;
}

#student-details-name-header{
  display: inline-block;
  width: 100%;
  text-align: center;
}

#student-details-student-name {
  font-size: 36px;
  width: 100%;
}

#student-details-subject-dropdown {
  margin: 8px;
}

#student-details-subject-dropdown-button {
  width: 80px;
}

.greyed-out-student-details-table-score {
  color: #7B7B7B;
}

#student-details-student-menu {
  display: inline-flex;
  display: -webkit-inline-flex;
  vertical-align: middle;
}

#student-details-download-pdf-button {
  height: 34px;
  vertical-align: middle;
  margin: 8px;
}


#scroll-container {
  height: 300px;
  overflow-y: auto;
  padding-bottom: 20px;
}

.student-details-assessment-col{
  height: 100%;
}

#student-details-artifacts-icon, #openClassArtifactModal {
  color: white;
  display: inline-block;
  text-align: center;
  padding: 9px;
}

.student-details-notch {
  position: absolute;
  top: 50px;
  left: 209px;
  margin: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px solid #F66B16;
  z-index: 1;
}
table th {
  padding: 5px;
}

.font-size-11 {
  font-size: 11px;
}

.font-weight-normal {
  font-weight: normal;
}

.div-padding-10 {
  padding: 10px;
}

li {
  list-style-type: none;
}

#artifactViewModal {
  top:5%;
  outline: none;
}



/** FIREFOX SPECIFIC CSS **/

@-moz-document url-prefix() {
  .student-details-table-item {
    display: inline-flex;
  }
}

#student-item {
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.black-text {
  color: #000000;
}

.white-background {
  background-color: #FFFFFF !important;
}

.grey-background {
  background-color: #cccccc;
}

.center-content {
  text-align: center;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.max-width-100-pc {
  max-width: 100%;
}

.top-40-pc {
  top: 40%;
}

.width-46px {
  width: 46px;
}

.student-details-assessment-header {
  background-color: #ccc;
  color: black;
  padding: 3px !important;
}

.padding-left-10px {
  padding-left: 10px;
}

.disabled-button {
  color: #333333 !important;
}

.no-outline-on-focus:focus {
  outline: none;
  text-decoration: none;
}

.title-toolbar {
  height: 52px;
}