<!-- View of Student Details -->

<template name="studentDetailsAssessments">

    {{#if loadingReport}}
        {{> loadingSpinner}}
    {{/if}}
    <!-- Performance task assessment column -->
    <div class="assessment-col col-sm-9 col-md-9 col-lg-9 overflow-hidden">
        <div id="student-details-name-header">
            <span id="student-details-student-name">{{student.firstname}} {{student.lastname}}</span>
            <span class="pull-right" id="student-details-student-menu">
                <button class="btn btn-default blue-text margin-right-10px{{#unless canGeneratePdf}} disabled-button disabled{{/unless}}" id="student-details-download-pdf-button" href="#">
                    <i class="fa fa-file-pdf-o fa-lg" id="student-details-pdf-icon"></i> Save as PDF
                </button>
            </span>
        </div>
        <div id="scroll-container" class="grey-background {{#if groupSelected}}{{#if studentSelected}}{{#if allUserSelectionsMade}}white-background{{/if}}{{/if}}{{/if}}">
            <!-- **** PERFORMANCE TASK **** -->
            {{#if allUserSelectionsMade}}
                {{#each assessmentData}}
                    {{#if ptHasAssessments}}
                        <!-- Title Info -->
                        <div class="title-toolbar" role="toolbar" style="background: {{getPerformanceTaskColor subject}}">
                            <img class="visual-img" src="{{visual}}">
                            <span class="student-assessment-name">{{name}}</span>
                            <span class="pull-right"><a href="#" data-toggle="modal" data-target="#artifactViewModal" id="student-details-artifacts-icon" class="no-outline-on-focus"><i class="fa fa-folder-o fa-lg"></i><br/>View Artifacts</a></span>
                        </div>
                        <div class="padding-left-10px">
                            {{#each studentDetails}}
                                {{#if hasAssessments}}
                                    {{#if isMath ../subject}}
                                        <h3>Part {{day}}</h3>
                                    {{else}}
                                        <h3>Day {{day}}</h3>
                                    {{/if}}
                                    <div class="indented-table">
                                        <table class="table" id="student-details-table">
                                            <tbody>
                                                <!-- **** COMMON CORE STATE STANDARDS **** -->
                                                {{#each standardsArray}}
                                                    {{#if hasAssessments}}
                                                        <tr>
                                                            <td class="student-details-assessment-header">
                                                                <span>
                                                                    {{assessmentObject.name}}
                                                                </span>
                                                                <span class="right">
                                                                    {{getFormattedDate data.timestamp}}
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="row col-md-12">
                                                                    <div class="col-md-4 col-sm-12">
                                                                        {{#if isArray data}}
                                                                            {{#each data}}{{#if isFlagged this}}<i class="fa fa-flag flag-check" style="color: red"></i>{{/if}}{{/each}}
                                                                        {{else}}
                                                                        {{/if}}
                                                                    {{#if isArray assessmentObject.commonCoreStateStandards}}
                                                                        {{#each assessmentObject.commonCoreStateStandards}}
                                                                            <b>{{this._id}}</b> - {{standardDescription this._id}}
                                                                            <br/>
                                                                        {{/each}}
                                                                    {{ else }}
                                                                        <b>{{standardObject._id}}</b> - {{assessmentObject.name}}
                                                                    {{/if}}

                                                                    </div>
                                                                    <div class="col-md-8 col-sm-12 student-details-assessment-col ">
                                                                        {{#if isArray data}}
                                                                            {{#if isChecklist assessmentObject.type}}
                                                                                    {{#each data}}
                                                                                    {{#unless isFlagged this}}
                                                                                        <div class="{{#if this.checked}}student-details-table-score{{else}} greyed-out-student-details-table-score{{/if}}" style="{{#if this.checked}}background-color: {{getPerformanceTaskColor ../../../subject}}{{/if}}">
                                                                                            <div class="student-details-table-item">
                                                                                                <div class="student-details-table-check"><i class="fa fa-check"></i>&nbsp;</div>
                                                                                                <div><p>{{this.value}}</p></div>
                                                                                            </div>
                                                                                        </div>
                                                                                    {{/unless}}
                                                                                {{/each}}
                                                                            {{/if}}
                                                                        {{else}}
                                                                            {{#if isRubric assessmentObject.type}}
                                                                                <!--Meeting column-->
                                                                                <div class="col-sm-3 table-text-center student-details-assessment-col {{#each data.value}} {{#if isMeeting this}}student-details-table-score{{else}}greyed-out-student-details-table-score{{/if}} {{/each}}" style="{{#each data.value}}{{#if isMeeting this}}background-color: {{getPerformanceTaskColor ../../../subject}}{{/if}}{{/each}}">
                                                                                    Meeting
                                                                                </div>
                                                                                <!--Approaching column-->
                                                                                <div class="col-sm-3 table-text-center student-details-assessment-col {{#each data.value}} {{#if isApproaching this}}student-details-table-score{{else}}greyed-out-student-details-table-score{{/if}} {{/each}}" style="{{#each data.value}}{{#if isApproaching this}}background-color: {{getPerformanceTaskColor ../../../subject}}{{/if}}{{/each}}">
                                                                                    Approaching
                                                                                </div>
                                                                                <!--Developing column-->
                                                                                <div class="col-sm-3 table-text-center student-details-assessment-col {{#each data.value}} {{#if isDeveloping this}}student-details-table-score{{else}}greyed-out-student-details-table-score{{/if}} {{/each}}" style="{{#each data.value}}{{#if isDeveloping this}}background-color: {{getPerformanceTaskColor ../../../subject}}{{/if}}{{/each}}">
                                                                                    Developing
                                                                                </div>
                                                                                <!--Emerging column-->
                                                                                <div class="col-sm-3 table-text-center student-details-assessment-col {{#each data.value}} {{#if isEmerging this}}student-details-table-score{{else}}greyed-out-student-details-table-score{{/if}} {{/each}}" style="{{#each data.value}}{{#if isEmerging this}}background-color: {{getPerformanceTaskColor ../../../subject}}{{/if}}{{/each}}">
                                                                                    Emerging
                                                                                </div>
                                                                            {{/if}}
                                                                            {{#if isYesNoList assessmentObject.type}}
                                                                                {{#with yesNoList this}}
                                                                                    {{#each assessmentObject.assessValues}}
                                                                                        <div class="student-details-table-score" style="background-color:{{background}}; color:{{color}};">
                                                                                            <div class="student-details-table-item">
                                                                                                {{#if isFlagged observation}}
                                                                                                    <div class="student-details-table-check width-46px">&nbsp;&nbsp;<i class="fa fa-flag"></i>&nbsp;&nbsp;&nbsp;</div>
                                                                                                {{else}}
                                                                                                    <div class="student-details-table-check width-46px">&nbsp;&nbsp;{{isobserved}}&nbsp;&nbsp;&nbsp;</div>
                                                                                                {{/if}}
                                                                                                <div class="padding-right-31px"><p>{{value}}</p></div>
                                                                                            </div>
                                                                                        </div>
                                                                                    {{/each}}
                                                                                {{/with}}
                                                                            {{/if}}
                                                                        {{/if}}
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {{/if}}
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                {{/if}}
                            {{/each}}
                        </div>
                    {{/if}}
                {{/each}}
            {{else}}
                {{#unless loadingReport}}
                    {{#unless groupSelected}}
                        <div class="engraved-text top-40-pc">
                            Select a classroom or group.
                        </div>
                    {{else}}
                        {{#unless studentSelected}}
                            <div class="engraved-text top-40-pc">
                                Select a student.
                            </div>
                        {{else}}
                            <div class="engraved-text top-40-pc">
                                Choose filters or search by standard.
                            </div>
                        {{/unless}}
                    {{/unless}}
                {{/unless}}
            {{/if}}
            <br/>
            <br/>
        </div>
    </div>
</template>

<!-- Artifact View Modal -->

<template name="artifactViewModal">
    <div class="modal fade" id="artifactViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">{{currentPerformanceTask}} - Artifacts for {{studentFirstName}} {{studentLastName}}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        {{#unless imageArtifactSelected}}
                            {{> artifactListModal}}
                        {{else}}
                            <div class="panel">
                                {{#with fileInfo selectedImageArtifact}}
                                    <div class="col-xs-12 center-content">
                                        <img src="{{this.url}}" class="max-width-100-pc"><br>
                                    </div>
                                {{/with}}
                            </div>
                        {{/unless}}
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        {{#if imageArtifactSelected}}
                            <button type="button" class="btn btn-primary" id="artifact-view-modal-back"><i class="fa fa-arrow-left"></i> Back to Artifacts</button>
                        {{/if}}
                        <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<!-- Accordion List of Notes within Artifact Modal -->

<template name="artifactListModal">

    <div class="panel-group" id="performance-task-artifact-accordion" role="tablist" aria-multiselectable="true">
        <h4>Notes</h4>
        {{#if hasNotes performanceTaskNoteData}}
            {{#each performanceTaskNoteData}}
                <div class="performance-task-media-panel-container">
                    <div class="panel performance-task-media-panel">
                        <div class="panel-heading performance-task-media-panel-header">
                            <span>
                                {{arrayToString this.commonCoreStateStandards}}
                            </span>
                            <span class="pull-right">{{getFormattedDate this.captured_date}}</span>
                        </div>
                        <div class="panel-body performance-task-media-panel-body">
                            {{this.note}}
                        </div>
                        <div class="panel-footer performance-task-media-panel-footer">

                        </div>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <div class="center-content well">
                No notes here.
            </div>
        {{/if}}
        <br>
        <h4>Images</h4>
        {{#if hasImages performanceTaskImageData}}
            {{#each performanceTaskImageData}}
                {{#each file}}
                    <div class="performance-task-media-panel-container col-xs-6 col-sm-6 col-md-4">
                        <div class="panel performance-task-media-panel">
                            <div class="panel-heading performance-task-media-panel-header">
                                <span>
                                    {{arrayToString ../commonCoreStateStandards}}
                                </span>
                            </div>
                            <div class="panel-body performance-task-media-panel-body center-content">
                                {{#with fileInfo this._id}}
                                    <a href="#" class="artifact-view-modal-image-select" id="{{this._id}}" onclick="Session.set('selected_image_artifact', '{{this._id}}')">
                                        <img src="{{this.url}}" width="100" height="100">
                                    </a>
                                {{/with}}
                            </div>
                            <div class="panel-footer performance-task-media-panel-footer">
                                <span class="black-text">{{getFormattedDate ../captured_date}}</span>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{/each}}
        {{else}}
            <div class="center-content well">
                No images here.
            </div>
        {{/if}}
    </div>
</template>
