<template name="studentDetails">

    {{> artifactViewModal}}
    <div id="student-assessment-container" class="container-fluid">
        <div id="student-assessment-row" class="row">
            {{> studentDetailsFilters}}
            {{> studentDetailsColumn}}
            {{> studentDetailsAssessments}}
        </div>
    </div>
</template>

<template name="studentDetailsColumn">
    <!-- Students column -->
    <div class="students-col col-sm-3 col-md-3 col-lg-3">
        <div id="sort-toolbar" class="row btn-toolbar" role="toolbar">
            <!-- Sort, select all, select none Buttons-->
            <div class="col-sm-4 col-md-4 col-lg-4">
            <span id="sort-btn-group">
                <button type="button" class="btn btn-toolbar-select-student dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-sort fa-lg"></i> Sort
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" id="alpha-sort"><i class="fa fa-sort-alpha-asc"></i> Alphabetical</a></li>
                    <li><a href="#" id="my-custom-sort"><i class="fa fa-sort-amount-asc"></i> My Custom Sort</a></li>
                </ul>
            </span>
            </div>
        </div>
        <div id="students-list-container" class="col-sm-3 col-md-3 col-lg-3">
            {{> studentDetailsList}}
        </div>
    </div>
</template>

<template name="otherColumn">
    <!-- Performance task assessment column -->
    <div class="assessment-col col-sm-9 col-md-9 col-lg-9">
        <!-- Instructions -->
        <div id="instruction-toolbar" class="row btn-toolbar" role="toolbar" style="background: {{color}}">
            {{> instructions}}
        </div>
        <!-- Title Info -->
        <div id="title-toolbar" class="row" role="toolbar" style="background: {{color}}">
            <img class="visual-img" src="{{visual}}">
            <span class="student-assessment-name">{{name}}</span>
        </div>
        <!-- Days -->
        <div class="btn-toolbar studentassessment-toolbar" role="toolbar">
            <div class="btn-group studentassessment-btn-group">
                {{#each assessmentSchedule}}
                    <button type="button" class="btn btn-studentassessment {{isActiveDay day}}">{{subjectDayLabel}} {{day}}{{#if isSubjectEla}}<br/><span class="assessment-day-item-count">{{getAssessmentCount assessments}}</span>{{/if}}{{#if isSelectedDay day}}<b class="notch"></b>{{/if}}</button>
                {{/each}}
            </div>
        </div>
        <!-- Steps -->
        <div class="btn-toolbar studentassessment-step-toolbar" role="toolbar">
            <div class="btn-group studentassessment-step-btn-group">
                {{#each dayAssessments}}
                    {{#with joinWithDayAssessments}}
                        <button type="button" class="btn btn-studentassessment-step {{isActiveDayAssessment _id}}" style="{{#unless isSelectedDayAssessment _id}}background-color: #666666{{/unless}}">STEP{{#unless isSubjectEla}}S{{/unless}}<br/>{{step}}{{#if isSelectedDayAssessment _id}}<b class="notch"></b>{{/if}}</button>
                    {{/with}}
                {{/each}}
            </div>
        </div>
        <!-- Checklist/Rubric -->
        <div id="pt-assessment-container" class="col-sm-9 col-md-9 col-lg-9">
            {{> performanceTaskLayout}}
        </div>
    </div>
</template>

<template name="studentDetailsList">
    <!-- Sortable list of students -->
    <ul id="student-list" class="list-group list-unstyled">
        {{#each studentDetailsList}}
            <li id="student-item" class="{{#unless studentSelected}}orange-border-pulse{{/unless}} col-md-6 list-group-item {{isActiveStudent _id}} {{getOddEvenColumn _id}}" data-id="{{_id}}">
                {{firstname}} {{lastname}}
            </li>
        {{/each}}
    </ul>
</template>

<template name="studentDetailsFilters">
    <div>
        <!-- Filters, Search, Class/Student -->
        <div id="class-details-filter-bar" class="width-100-pc dark-grey line-height-normal">
            <!-- Select Class or Student -->
            <a href="#" class="class-student-button {{#if isClassDetails}} class-student-selected-left {{else}} class-student-unselected{{/if}}">
                Class or Group
            </a>
            <a href="#" class="class-student-button {{#if isStudentDetails}} class-student-selected-right {{else}} class-student-unselected{{/if}}">
                Student
            </a>
            <span class="{{#if isStudentDetails}} student-details-notch {{else}} class-details-notch {{/if}}"></span>


            <!-- Search bar -->
            <form class="navbar-form navbar-right" id="details-standards-search-filter" role="search">
                <div class="row">
                    <div class="">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default {{#unless groupSelected}} disabled {{/unless}}" type="submit"><i class="fa fa-search"></i></button>
                            </span>
                            <input type="text" class="form-control {{#unless groupSelected}} default-cursor {{/unless}}" placeholder="Search by CCSS" id="class-detail-search-input">
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </form>

            <!-- Filters -->
            <div class="btn-group" role="group" aria-label="..." id="class-details-filters">
                <div class="btn-group" role="group">
                    <button type="button" id="details-filters-subject-button" class="btn btn-default min-width-100px dropdown-toggle {{#if groupSelected}} {{#if studentSelected}} {{#if filterSelectionMade}} blue-text {{else}} filter-highlight orange-pulse {{/if}} {{else}} disabled {{/if}} {{else}} disabled {{/if}}" data-toggle="dropdown" aria-expanded="false">
                        {{#unless subjectSelected}}
                            Subject
                        {{else}}
                            {{formatSubject selectedSubject}}
                        {{/unless}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" id="class-details-subject-filter">
                        <li><a href="#">All Subjects</a></li>
                        <li role="presentation" class="divider"></li>
                        {{#each subject}}
                            <li><a href="#">{{this}}</a></li>
                        {{/each}}
                    </ul>
                </div>

                <div class="btn-group" role="group">
                    <button type="button" id="details-filters-performance-task-button" class="btn btn-default min-width-100px dropdown-toggle {{#if groupSelected}} {{#if studentSelected}} {{#if filterSelectionMade}} blue-text {{else}} filter-highlight orange-pulse {{/if}} {{else}} disabled {{/if}} {{else}} disabled {{/if}}" data-toggle="dropdown" aria-expanded="false">
                        {{#unless performanceTaskSelected}}
                            Performance Task
                        {{else}}
                            {{formatPT selectedPerformanceTask}}
                        {{/unless}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" id="class-details-performance-task-filter">
                        <li><a href="#" id="All">All PTs</a></li>
                        <li role="presentation" class="divider"></li>
                        {{#if displayAllPerformanceTasks}}
                            {{#each filterElaPerformanceTasks}}
                                <li><a href="#" id="{{this._id}}"><i class="fa fa-book" style="color: {{this.color}}"></i> {{this.name}}</a></li>
                            {{/each}}
                            <li role="presentation" class="divider"></li>
                            {{#each filterMathPerformanceTasks}}
                                <li><a href="#" id="{{this._id}}"><i class="fa fa-book" style="color: {{this.color}}"></i> {{this.name}}</a></li>
                            {{/each}}
                        {{else}}
                            {{#each filterPerformanceTask}}
                                <li><a href="#" id="{{this._id}}"><i class="fa fa-book" style="color: {{this.color}}"></i> {{this.name}}</a></li>
                            {{/each}}
                        {{/if}}
                    </ul>
                </div>

                <div class="btn-group" role="group">
                    <button type="button" id="details-filters-standard-button" class="btn btn-default min-width-100px dropdown-toggle {{#if groupSelected}} {{#if studentSelected}} {{#if filterSelectionMade}} blue-text {{else}} filter-highlight orange-pulse {{/if}} {{else}} disabled {{/if}} {{else}} disabled {{/if}}" data-toggle="dropdown" aria-expanded="false">
                        {{#unless standardSelected}}
                            Standard
                        {{else}}
                            {{formatStandard selectedStandard}}
                        {{/unless}}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" id="class-details-standard-filter">
                        <li><a href="#">All Standards</a></li>
                        <li role="presentation" class="divider"></li>
                        {{#each filterStandards}}
                            <li><a href="#">{{this}}</a></li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>
