html {
  min-width: 769px;
  overflow-y: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
// Offset the fixed navbar
  margin-top: 50px;
  background-color: #cccccc;
  height: 100%;
  padding-top: 0px;
  padding-bottom: 50px;             /* As IE ignores !important it will set width as 1000px; */
}

@media (max-width: 767px) {
  body {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .navbar-text {
    margin-top: 8px;
  }
}

#parcc-logo-img {
  max-height: 20px;
}

.navbar-default {
  background: @navbar-default-bg;
  border-right-color: @navbar-default-bg;
  border-left-color: @navbar-default-bg;
  .navbar-brand {
    padding-left: 25px;
    padding-right: 25px;
    color: @navbar-default-link-color;
    &:hover {
      color: @navbar-default-link-hover-color;
    }
  }
}

.navbar-left {
  padding-left: 15px;
}

.navbar-right {
  padding-right: 25px;
}

.ccss-row {
  padding-left: 4px;
}


@media (min-width: 768px) {
  .navbar-center {
    position: absolute;
    width: 100%;
    left: 45%;
    text-align: center;
    margin: auto;
  }
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
}

.marker {
  background-color: Yellow;
}

.parcc-highlight-text-container {
  padding: 1px 2px;
  background: #eee;
  border: 1px solid #666;
}

.modal {
  top: 75px;
  z-index: 1060;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width:1200px;
  }
}

.modal-backdrop {
  z-index: 1050;
}

@-webkit-keyframes orangePulse {
  from { background-color: #F66B16; -webkit-box-shadow: 0 0 9px #F66B16; border-color: #F66B16; }
  50% { background-color: #FF9D61; -webkit-box-shadow: 0 0 18px #FF9D61; border-color: #FF9D61; }
  to { background-color: #F66B16; -webkit-box-shadow: 0 0 9px #F66B16; border-color: #F66B16; }
}

.orange-pulse {
  -webkit-animation-name: orangePulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  color: white;
}

@-webkit-keyframes orangeBorderPulse {
  from { -webkit-box-shadow: 0 0 0px 0px #F66B16; }
  50% { -webkit-box-shadow: 0 0 18px #F66B16 }
  to { -webkit-box-shadow: 0 0 0px 0px #F66B16; }
}

.orange-border-pulse {
  -webkit-animation-name: orangeBorderPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  color: white;
}

@-webkit-keyframes blueBorderPulse {
  from { -webkit-box-shadow: 0 0 0px 0px #3179D0; }
  50% { -webkit-box-shadow: 0 0 2px 2px #3179D0 }
  to { -webkit-box-shadow: 0 0 0px 0px #3179D0; }
}

.blue-border-pulse {
  -webkit-animation-name: blueBorderPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes orangeTextPulse {
  from { color: #FFFFFF; }
  50% { color: #F66B16 }
  to { color: #FFFFFF; }
}

.orange-text-pulse {
  -webkit-animation-name: orangeTextPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  color: white;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #F66B16;
  border-color: #F66B16;
}

.menu-icon {
  color: ##337ab7;

  &:active,
  &.active {
    color:  #ffffff;
  }
}

#invalid-user-text {
  text-align: center;
  margin: 100px 100px 100px 100px;
}

