// dashboard navigation
#subject-toolbar {
  background-color:  rgba(153, 153, 153, 1);
  width: 100%;
  height: 50px;
  margin-left: 0px;
  margin-top: 0px;
  position: fixed;
  z-index: 500;
}

#subject-btn-group {
  padding-left: 180px;
}

#btn-ela {
  border-left-width: 3px;
  border-right-width: 3px;
}

#btn-math {
  border-right-width: 3px;
}

.btn-subject {
  background-color:  rgba(153, 153, 153, 1);
  border-color: #ffffff;
  border-bottom-width: 0px;
  border-top-width: 0px;
  border-radius: 0px;
  width: 157px;
  height: 50px;
  font-family: Arial;
  color:  #ffffff;
  font-size: 34px;
  font-weight: 400;
  vertical-align: middle;

  &:hover,
  &:focus  {
    background-color: #F66B16;
    color:  #ffffff;
  }

  &:active,
  &.active {
    background-color: #F66B16;
    border-color: #ffffff;
    color:  #ffffff;
  }

  .notch {
    position: absolute;
    top: 50px;
    left: 65px;
    margin: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #F66B16;
    padding: 0;
    width: 0;
    height: 0;
    /* ie6 height fix */
    font-size: 0;
    line-height: 0;
    /* ie6 transparent fix */
    _border-right-color: pink;
    _border-left-color: pink;
    _filter: chroma(color=pink);
  }
}


// Dashboard performance task grid

#pt-grid {
  padding-top: 75px;
  padding-bottom: 25px;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#pt-grid-row {
  height: 100%;
}

#pt-task-col {
  margin-bottom: 30px;
}

@media (max-width: 1200px) {
 .pt-grid .col-sm-6 {
    width: 35%;
  }
}

#pt-thumbnail {
  width: 330px;
  height: 220px;
  border-radius: 0px;
  border-style: none;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

#pt-thumb-container {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

#pt-title-row {
  height: 80px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 7px;
  padding-bottom: 3px;
  margin-left: 0px;
  margin-right: 0px;
}

#pt-text-type-row {
  height: 30px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 7px;
  padding-bottom: 3px;
  margin-left: 0px;
  margin-right: 0px;
}

#pt-standard-row {
  height: 70px;
  padding-left: 0px;
  padding-right: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #000000;
  width: 100%;
}

#pt-download-row {
  height: 40px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.dropdown-menu > li > .more-links {
  color: #666666;

  &:hover,
  &:focus  {
    color:  #f66b16;
    background-color: #ffffff;
  }

  &:active,
  &.active {
    color:  #f66b16;
    background-color: #ffffff;
  }
}

#pt-cover-img {
  max-width: 50px;
  max-height: 50px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

#pt-name {
  line-height: 108%;
  font-family: Helvetica;
  color:  #ffffff;
  font-size: 27px;
  padding-left: 7px;
  padding-right: 7px;
}

#pt-text-type {
  width: 100%;
  padding-right: 10px;
  color: #ffffff;
  font-size: 14px;
  text-align: right;
}

#go-to-task-col {
  height: 40px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  border-right: solid;
  border-right-color: #cccccc;
  border-right-width: 4px;
}

#download-col {
  height: 40px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

#btn-more {
  border-color: #ffffff;
  border-radius: 4px;
  width: 80px;
  height: 26px;
  font-family: Arial;
  color:  #ffffff;
  font-size: 14px;

  &:hover,
  &:focus  {
    color:  #ffffff;

    .more-icon {
      color:  #f66b16;
    }
  }

  &:active,
  &.active {
    color:  #ffffff;

    .more-icon {
      color:  #f66b16;
    }
  }
}

.download-align {
  position: relative;
  top: 8%;
}

#go-to-ul {
  position: relative;
  top: 25%;
  left: 4%;
}

.more-icon {
  vertical-align: top;
  color: #FFFF33;
  position:relative;
}

.task-link {
  font-family: Arial;
  color:  #ffffff;
  font-size: 14px;
  position: relative;
  top: 38%;
  text-decoration: none;

  &:hover,
  &:focus  {
    color:  #ffffff;
    text-decoration: none;

    .task-icon {
      color:  #f66b16;
    }
  }

  &:active,
  &.active {
    color:  #ffffff;
    text-decoration: none;

    .task-icon {
      color:  #f66b16;
    }
  }
}

.task-icon {
  color: #FFFF33;
}

.standard {
  font-family: Arial;
  color:  #ffffff;
  font-size: 14px;
  font-weight: 700;

  &:hover,
  &:focus  {
    color:  #ffffff;
    text-decoration: none;
  }

  &:active,
  &.active {
    color:  #ffffff;
    text-decoration: none;
  }
}

.ccss-row {
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.ccss-col {
  height: 25px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.standard-tip {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  text-align: left;
}

.tooltip {
  position: fixed;
}

.tooltip.right .tooltip-inner {
  background-color: #f9f9f9;
  color: #000000;
  min-width: 150px;
  text-align: left;
  border: 1px solid #cccccc;
  padding: 10px;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #ffffff;
}

.tooltip.bottom .tooltip-inner :not(bs-default) {
  background-color: #ffffff;
  color: #000000;
  min-width: 150px;
  text-align: left;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.tooltip.bottom .tooltip-arrow {
  border-right-color: #ffffff;
}

#pt-info-content {
  table.alignCenter{
    margin: 0 auto;
  }
  table.noPadding{
    td{
      padding: 0;
    }
  }
  table {
    width:100% !important;
    li {
      list-style-type: disc;
    }
    td {
      padding: 5px 5px 0;
    }
  }
  margin: 15px 15px 15px 15px;
}

#ela-li {
  margin-bottom: 5px;
}