<!-- Dashboard -->
<template name="dashboard">
    {{> helpInfoModal}}
    {{> ptInfoModal}}

    {{#if isGroupSelected}}
        <!-- Subject navigation -->
        <div id="subject-toolbar" class="btn-toolbar" role="toolbar">
            <div id="subject-btn-group" class="btn-group">
                <button type="button" id="btn-ela" class="btn btn-subject {{activeSubject 'ela'}}">ELA{{#if isSelectedSubject 'ela'}}<b class="notch"></b>{{/if}}</button>
                <button type="button" id="btn-math" class="btn btn-subject {{activeSubject 'math'}}">Math{{#if isSelectedSubject 'math'}}<b class="notch"></b>{{/if}}</button>
            </div>
        </div>

        <!-- Task grid -->
        <div id="pt-grid" class="container">
            <div id="pt-grid-row" class="row">
                {{#each tasks}}
                    <div id="pt-task-col" class="col-sm-6 col-lg-4">
                        {{> task}}
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}
</template>

<!-- Task grid item -->
<template name="task">
    <div id="pt-thumbnail" class="thumbnail" style="background-color: {{getBackgroundColor}}">
        <div id="pt-thumb-container" class="container-fluid">
            <!-- Title -->
            <div id="pt-title-row" class="row">
                <div id="pt-name" class="col-sm-12 col-md-12 col-lg-12">
                    {{name}}
                </div>
            </div>

            <!-- Text Type -->
            <div id="pt-text-type-row" class="row">
                <div id="pt-text-type" class="col-sm-12 col-md-12 col-lg-12">
                    {{textType}}
                </div>
            </div>

            <!-- CCSS / Additional Links -->
            <div id="pt-standard-row" class="row" style="background-color: {{getDarkenedColor}}">
                {{#if isELA}}
                    <div class="pt-standards-col col-sm-8 col-md-8 col-lg-8">
                        <ul id="dark-band-ul" class="fa-ul">
                            <li id="ela-li"><button type="button" class="ela-math-tip btn-link task-link standard-tip" data-placement="right" data-toggle="tooltip" data-original-title="{{summaryGlance}}"><i class="fa-li fa fa-chevron-circle-right task-icon"></i>Text Summary</button></li>
                            <li><button type="button" id="at-a-glance-link" class="btn-link task-link standard-tip"><i class="fa-li fa fa-chevron-circle-right task-icon"></i>At-A-Glance</button></li>
                        </ul>
                    </div>
                    <div id="cover-img-col" class="pt-standards-col col-sm-4 col-md-4 col-lg-4">
                        {{#if isImageFound}}
                        <img id="pt-cover-img" class="pull-right" src="{{visual}}">
                        {{/if}}
                    </div>
                {{else}}
                    <div class="pt-standards-col col-sm-12 col-md-12 col-lg-12">
                        {{> ccssList commonCoreStateStandards}}
                        <ul class="fa-ul">
                            <li><button type="button" class="ela-math-tip btn-link task-link standard-tip" data-placement="right" data-toggle="tooltip" data-original-title="{{summaryGlance}}"><i class="fa-li fa fa-chevron-circle-right task-icon"></i>At-A-Glance</button></li>
                        </ul>
                    </div>
                {{/if}}
            </div>

            <!-- PT & Downloads -->
            <div id="pt-download-row" class="row">
                <div id="go-to-task-col" class="col-sm-8 col-md-8 col-lg-8">
                    <ul id="go-to-ul" class="fa-ul">
                        <li><a href="{{pathFor route='studentassessment' id=this._id subject=this.subject pt=urlFormattedName}}" class="task-link"><i class="fa-li fa fa-chevron-circle-right task-icon"></i>Go to Performance Task</a></li>
                    </ul>
                </div>
                <div id="download-col" class="col-sm-4 col-md-4 col-lg-4">
                    <span id="more-btn-group" class="btn-group download-align">
                        <button type="button" id="btn-more" class="btn dropdown-toggle" data-toggle="dropdown" style="background-color: {{getBackgroundColor}}; border-color: {{getBackgroundColor}};">
                        Download <i class="fa fa-sort-desc fa-lg more-icon"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            {{#if isELA}}
                                {{#each books}}
                                <li><a href="{{url}}" target="_blank" rel="nofollow" class="more-links"><i class="fa fa-book fa-lg"></i>&nbsp;&nbsp;&nbsp;{{name}}</a></li>
                                {{/each}}
                            {{/if}}
                            <li><a href="{{performanceTaskPdfDoc}}" target="_blank" rel="nofollow" class="more-links"><i class="fa fa-file-pdf-o fa-lg"></i>&nbsp;&nbsp;&nbsp;Performance Task PDF</a></li>
                            <!--<li><a href="{{performanceTaskWordDoc}}" target="_blank" rel="nofollow" class="more-links"><i class="fa fa-file-word-o fa-lg"></i>&nbsp;&nbsp;&nbsp;Performance Task Word</a></li>-->
                            {{#unless isELA}}
                            <li><a href="{{performanceTaskExcelDoc}}" target="_blank" rel="nofollow" class="more-links"><i class="fa fa-file-excel-o fa-lg"></i>&nbsp;&nbsp;&nbsp;Checklist</a></li>
                            {{/unless}}
                            <li><a href="{{studentResource}}" target="_blank" rel="nofollow" class="more-links"><i class="fa fa-files-o fa-lg"></i>&nbsp;&nbsp;&nbsp;Student/Teacher Resources</a></li>
                            {{#if isELA}}
                            <li><a href="{{glossary}}" target="_blank" rel="nofollow" class="more-links"><i class="fa fa-files-o fa-lg"></i>&nbsp;&nbsp;&nbsp;Glossary</a></li>
                            {{/if}}
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>

<!-- Common Core State Standards Grid:
     Break this out so can dynamically create a grid due to some handlebars limitations.
 -->
<template name="ccssList">
    {{#each ccss}}
        {{> ccssRow }}
    {{/each}}
</template>

<template name='ccssRow'>
    <div class='row ccss-row'>
        {{#each row }}
            {{> ccssItem}}
        {{/each}}
    </div>
</template>

<template name="ccssItem">
   <div class="{{subjectColSize}} ccss-col">
        {{#with joinWithCommonCoreStandards}} 
        <button type="button" class="btn-link standard standard-tip" data-placement="right" data-toggle="tooltip" data-original-title="{{description}}">{{_id}}</button>
        {{/with}}  
    </div>
</template>

<!-- Modal to display selected performance task information -->
<template name="ptInfoModal">
    <div class="modal fade" id="ptInfoModal" tabindex="-1">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div id="pt-info-content">
                        {{{getPtInfo}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<!-- Modal to display help info the first time until a user enters at least one classroom -->
<template name="helpInfoModal">
    <div class="modal fade" id="helpInfoModal" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div id="help-info-content">
                        <h2>Welcome</h2>
                        <p>
                        <div>To get started:</div>
                        <br/>
                        <ol>
                            <li>1. Create a classroom under the Gear menu</li>
                            <li>2. Select your class</li>
                            <li>3. Select a performance task</li>
                        </ol>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
