<template name="standards">
    {{> updateAlertTemplate}}
    <div id="admin-standards-container" class="container">
        <div class="row">
            <div class="page-header h2">Common Core State Standards</div>
            <div class="col-md-4">
                <!-- Filter standards -->
                {{> standardsFilter}}

                <!-- Standards List -->
                {{> standardsList}}
            </div>
            <div class="col-md-8">
                <!-- Standards Form -->
                {{#if showStandardsForm}}
                    {{> standardsForm selectedStandard}}
                {{/if}}
            </div>
        </div>
    </div>
</template>

<!-- Filter standards -->
<template name="standardsFilter">
    <form id="standards-form" class="panel panel-default">
        <div class="panel-body">
            <div>
                <label for="select-filter-grade">Grade</label> 
                <select class="form-control" name="filterGrade" id="select-filter-grade" required="true"> 
                    <option value="K" selected="{{isGradeFilterSelected "K"}}">K</option>
                    <option value="1" selected="{{isGradeFilterSelected "1"}}">1</option> 
                    <option value="2" selected="{{isGradeFilterSelected "2"}}">2</option> 
                </select>
            </div> 
            <div>
                <label for="select-filter-subject">Subject</label> 
                <div id="select-filter-subject">
                    <input name="filterSubject" type="radio"  value="ela" checked="{{isSubjectFilterChecked "ela"}}"/> ELA
                    <input name="filterSubject" type="radio" value="math" checked="{{isSubjectFilterChecked "math"}}"/> Math
                </div>
            </div> 
            <div>
                <button type="button" id="filter-standards" class="save-class btn btn-primary">Filter</button>
            </div>
        </div>  
    </form>
</template>

<!-- Standards List -->
<template name="standardsList">
    <!-- Add new standard --> 
    <div>
        <a href="#" id="add-standard"><i class="fa fa-plus-circle"></i> Add Standard</a>
    </div>

    <div class="list-group">
        {{#each standards}}
            <span id="standard-item">
                <a href="#" id="select-standard" class="list-group-item {{isActiveStandard}}">{{_id}}<span class="pull-right"><a href="#" id="delete-standard"><i class="fa fa-minus-circle menu-icon {{isActiveStandard}}"></i></a></span></a>
            </span>
        {{/each}}
    </div>
</template>


<!-- Performance Task Form -->
<template name="standardsForm">
    <form class="panel panel-default">
        <div class="panel-heading">{{standardMode}} Standard</div>
        <div class="panel-body">

            <!-- Grade -->
            <div>
                <label for="select-grade">Grade</label> 
                <select class="form-control" name="grade" id="select-grade" required="true"> 
                    <option value="K" selected="{{isGradeSelected "K"}}">K</option>
                    <option value="1" selected="{{isGradeSelected "1"}}">1</option> 
                    <option value="2" selected="{{isGradeSelected "2"}}">2</option> 
                </select>
            </div> 

            <!-- Subject -->
            <div>
                <label for="select-subject">Subject</label> 
                <div class="form-control" id="radio-subject">
                    <input id="radio-subject-ela" name="subject" type="radio"  value="ela" required="true" checked="{{isSubjectChecked "ela"}}"/> ELA
                    <input id="radio-subject-math" name="subject" type="radio" value="math" required="true" checked="{{isSubjectChecked "math"}}"/> Math
                </div>
            </div> 

            <!-- Standard -->
            <div>
                <label for="input-name">Standard</label> 
                <div>
                    {{#if isEditMode}}
                        <span>{{_id}}</span>
                    {{else}}
                        <input type="text" value="{{_id}}" name="standardId" id="input-standard" class="form-control" required="true"/>
                    {{/if}}
                </div>
            </div>  

            <!-- Description -->
            <div>
                <label for="input-name">Description</label> 
                <div>
                    <input type="text" value="{{description}}" name="standardDescription" id="input-description" class="form-control" required="true"/>
                </div>
            </div>  

        </div>  
        <div class="panel-footer">
            <button type="submit" class="save-class btn btn-primary">Save</button>
        </div>
    </form>
</template>
