<template name="updateAlertTemplate">
    <script>
        // Shows bootstrap alert at the top of the page for 3 seconds and then fades out
        var showBootstrapAlert = function (type, text) {
            if (type == "success") {
                $("#bootstrap-alert-update-alert").removeClass("alert-danger");
                $("#bootstrap-alert-update-alert").removeClass("alert-info");
                $("#bootstrap-alert-update-alert").addClass("alert-success");
                $("#bootstrap-alert-update-alert-strong").html("Success!");
            } else if (type == "danger") {
                $("#bootstrap-alert-update-alert").removeClass("alert-success");
                $("#bootstrap-alert-update-alert").removeClass("alert-info");
                $("#bootstrap-alert-update-alert").addClass("alert-danger");
                $("#bootstrap-alert-update-alert-strong").html("Error!");
            } else if (type == "info") {
                $("#bootstrap-alert-update-alert").removeClass("alert-success");
                $("#bootstrap-alert-update-alert").removeClass("alert-danger");
                $("#bootstrap-alert-update-alert").addClass("alert-info");
                $("#bootstrap-alert-update-alert-strong").html("Info!");
            } else {
                return;
            }

            $("#bootstrap-alert-update-alert-text").html(text);

            $("#bootstrap-alert-update-alert").fadeIn();
            window.setTimeout(function() {$("#bootstrap-alert-update-alert").fadeOut() }, 4000);
        }
    </script>

    <div id="bootstrap-alert-update-alert" class="alert alert-dismissible" role="alone" style="">
        <button id="bootstrap-alert-update-alert-dismiss" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong id="bootstrap-alert-update-alert-strong">Strong Text</strong><p id="bootstrap-alert-update-alert-text">Detailed text.</p>
    </div>
</template>